/*  phpBB 3.0 Style Sheet
    --------------------------------------------------------------
	Style name:		subsilver2
	Based on style:	subSilver (the default phpBB 2 style)
	Original author:	subBlue ( http://www.subBlue.com/ )
	Modified by:		psoTFX and the phpBB team ( http://www.phpbb.com )
	
	This is an alternative style for phpBB3 for those wishing to stay with
	the familiar subSilver style of phpBB version 2.x
	
	Copyright 2006 phpBB Group ( http://www.phpbb.com/ )
    --------------------------------------------------------------
*/
/* Layout
 ------------ */
*{margin: 0;padding: 0;}
html{font-size: 100%;}
body{font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;color: #000000;background-color: #fff;font-size: 64.5%;margin: 0;}
.header{background-color: #fff;color: #FFFFFF;margin: 0;padding: 2px 0; }
#findbar{width: 100%;margin: 0;padding: 0;border: 0;}
.forumrules{background-color: #FDFACA;font-weight: normal;font-size: 1.2em;font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;}
.forumrules h2{color: #E20202;}
#pageheader { }
#pagecontent { }
#pagefooter { }
#poll { }
#postrow { }
#postdata { }
/*  Text
 --------------------- */
h1{color: #FFFFFF;font-family: "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;font-weight: bold;font-size: 1.5em;text-decoration: none;}
h2{color: #28313F;font-family: Arial, Helvetica, sans-serif;font-weight: bold;font-size: 1.4em;text-decoration: none;line-height: 120%;}
h3{color: #115098;font-size: 1.3em;font-weight: bold;font-family: Arial, Helvetica, sans-serif;line-height: 120%;}
h4{margin: 0;font-size: 1.2em;font-weight: bold;}
p{font-size: 1.2em;}
p.moderators{margin: 0;text-align: center;color: #000000;font-weight: bold;}
.rtl p.moderators{text-align: center;}
p.linkmcp{margin: 0;text-align: center;font-size: 1.1em;white-space: nowrap;}
.rtl p.linkmcp{text-align: center;}
.breadcrumbs{background-color: #cadceb;color: #000000;font-size: 0.9em;padding: 2px;}
p.breadcrumbs{margin: 0;background-color: #cadceb;float: left;color: #000000;font-weight: bold;white-space: normal;}
.rtl p.breadcrumbs{text-align: center;}
p.datetime{margin: 0;text-align: center;white-space: nowrap;font-size: 1em;}
.rtl p.datetime{text-align: center;}
p.searchbar{padding: 2px 0;white-space: nowrap;} 
p.searchbarreg{margin: 0;float: right;white-space: nowrap;}
.rtl p.searchbarreg{float: left;}
p.forumdesc{padding-bottom: 4px;}
p.topicauthor{margin: 1px 0;}
p.topicdetails{margin: 1px 0;}
.postreported{margin: 1px 0;color: red;font-weight:bold;}
.postreported a:visited{margin: 1px 0;color: red;font-weight:bold;}
.postreported a:hover{margin: 1px 0;color: red;font-weight:bold;}
.postreported a:link{margin: 1px 0;color: red;font-weight:bold;}
.postreported a:active{margin: 1px 0;color: red;font-weight:bold;}
.postapprove{color: green;font-weight:bold;}
.postapprove a:visited{color: green;font-weight:bold;}
.postapprove a:hover{color: green;font-weight:bold;}
.postapprove a:link{color: green;font-weight:bold;}
.postapprove a:active{color: green;font-weight:bold;}
.postapprove img, .postreported img{vertical-align: bottom;}
.postauthor{color: #000000;font-size: 1.2em;}
.postdetails{color: #000000;}
.postbody{font-size: 1.4em;line-height: 1.4em;font-family: "Lucida Grande", "Trebuchet MS", Helvetica, Arial, sans-serif;}
.postbody li, ol, ul{margin: 1px 0;}
.rtl .postbody li, .rtl ol, .rtl ul{margin: 0 1.5em 0 0;}
.posthilit{background-color: yellow;}
.nav{margin: 0;color: #000000;font-size: 1.1em;font-weight: bold;}
.pagination{padding: 4px;color: #000000;font-size: 1.2em;font-weight: bold;}
.cattitle{ }
.gen{margin: 1px 1px;font-size: 1.3em;}
.genmed{margin: 1px 1px;font-size: 1.2em;}
.gensmall{margin: 1px 1px;font-size: 1.0em;}
.copyright{color: #FFFFFF;font-size: 0.8em;font-weight: bold;font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;}
.titles{font-family: "Lucida Grande", Helvetica, Arial, sans-serif;font-weight: bold;font-size: 1.1em;text-decoration: none;}
.error{color: red;}
/* Tables
 ------------ */
th{color: #FFFFFF;background-color: #6E7A83;margin: 0;width: 100%;height: 20px;font-size: 1.2em;font-weight: bold;text-align: left;padding: 0 0 0 4px;}
.welcome{color: #FFFFFF;background-color: #6E7A83;margin: 0;width: 100%;font-size: 1.1em;font-weight: bold;text-align: center;padding: 2px;}
table{width: 100%;padding: 0;margin: 0;}
tr{padding: 0;}
td{padding: 4px;}
td.profile{padding: 6px;}
.tablebg{background-color: #407381;}
.cat{padding: 2px;background-color:  #85A2BA;}
.row1{padding: 4px;background-color: #E8ECEE;}
.row2{padding: 4px;background-color: #E8ECEE;}
.row3{padding: 4px;background-color: #B9CFE2;}
.row4{padding: 4px;background-color: #AAC2D6;}
.row5{padding: 4px;background-color: #2F5F7A;}
.spacer{padding: 2px;margin: 0;}
hr{width: 100%;height: 1px;border-width: 0;background-color: #666666;margin: 0;padding: 0;}
.legend{text-align:center;margin: 0 auto;}
/* Links
 ------------ */
a:link{color: #105289;margin: 1px;text-decoration: none;}
a:active{color: #368AD2;margin: 1px;text-decoration: none;}
a:visited{color: #105289;margin: 1px;text-decoration: none;}
a:hover{color: #D31141;margin: 1px;text-decoration: underline;}
a.nav{color: #105289;font-weight: bold;margin: 1px;text-decoration: none;}
a.nav:hover{margin: 1px;color: #D31141;font-weight: bold;text-decoration: underline;}
a.new{color: #0044AA;font-weight: bold;margin: 1px;text-decoration: none;}
a.forumlink{color: #105289;font-weight: bold;font-family: "Lucida Grande", Helvetica, Arial, sans-serif;font-size: 1.2em;}
a.forumlink:hover{color: #BC2A4D;font-weight: bold;font-family: "Lucida Grande", Helvetica, Arial, sans-serif;font-size: 1.2em;}
a.forumlink_new{color: #AA0000;background-color: #FFFFFF;padding: 0 2px;margin: 1px;font-weight: bold;font-family: "Lucida Grande", Helvetica, Arial, sans-serif;font-size: 1.2em;border-width: 1px;border-style: solid;border-color: #888888;}
a.forumlink_new:hover{background-color: #FFFFFF;padding: 0 2px;margin: 1px;font-family: "Lucida Grande", Helvetica, Arial, sans-serif;font-weight: bold;font-size: 1.2em;border-width: 1px;border-style: solid;border-color: #888888;}
a.topictitle{color: #014669;margin: 1px;font-family: "Lucida Grande", Helvetica, Arial, sans-serif;font-weight: bold;font-size: 1.2em;}
a.topictitle:hover{margin: 1 auto;font-family: "Lucida Grande", Helvetica, Arial, sans-serif;font-weight: bold;font-size: 1.2em;}
a.topictitle:visited{color: #014669;}
a.topictitle_new{color: #012B52;background-color: #FFFFFF;padding: 0 2px;margin: 1px;font-family: "Lucida Grande", Helvetica, Arial, sans-serif;font-weight: bold;font-size: 1.2em;border-width: 1px;border-style: solid;border-color: #888888;}
a.topictitle_new:hover{background-color: #FFFFFF;padding: 0 2px;margin: 1px;font-family: "Lucida Grande", Helvetica, Arial, sans-serif;font-weight: bold;font-size: 1.2em;border-width: 1px;border-style: solid;border-color: #888888;}
a.copyright{color: #00FFFF;margin: 1px;font-family: "Lucida Grande", Helvetica, Arial, sans-serif;font-weight: bold;font-size: 1.2em;}
a.copyright:hover{margin: 1 auto;text-decoration: underline;font-family: "Lucida Grande", Helvetica, Arial, sans-serif;font-weight: bold;font-size: 1.2em;}
th a,th a:visited{color: #FFFFFF !important;}
th a:hover{ }
a.newpm{color: #AA0000;}
a.unreadpm{color: #883300;}
a.nowrap{white-space: nowrap;}
/* Form Elements
 ------------ */
form{margin: 0;padding: 0;border: 0;}
input{color: #333333;font-family: "Lucida Grande", Verdana, Helvetica, sans-serif;font-size: 1.2em;font-weight: normal;padding: 1px;border: 1px solid #173A52;background-color: #FAFAFA;}
textarea{background-color: #FAFAFA;color: #333333;font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;font-size: 1.1em; line-height: 1.2em;font-weight: normal;border: 1px solid #173A52;padding: 2px;}
select{color: #333333;background-color: #FAFAFA;font-family: "Lucida Grande", Verdana, Helvetica, sans-serif;font-size: 1.1em;font-weight: normal;border: 1px solid #173A52;padding: 1px;}
option{padding: 0 1em 0 0;}
option.disabled-option{color: graytext;}
.rtl option{padding: 0 0 0 1em;}
input.radio{border: none;background-color: transparent;}
.post{background-color: white;border-style: solid;border-width: 1px;font-size: 1.0em;font-weight: bold;}
.btnbbcode{color: #000000;font-weight: normal;font-size: 1.2em;font-family: "Lucida Grande", Verdana, Helvetica, sans-serif;background-color: #EFEFEF;border: 1px solid #173A52;}
.btnmain{font-weight: bold;background-color: #ECECEC;border: 1px solid #173A52;cursor: pointer;padding: 1px 5px;font-size: 1.0em;}
.btnlite{font-weight: normal;background-color: #ECECEC;border: 1px solid #173A52;cursor: pointer;padding: 1px 5px;font-size: 1.0em;}
.btnfile{font-weight: normal;background-color: #ECECEC;border: 1px solid #173A52;padding: 1px 5px;font-size: 1.0em;}
.button1{font-weight: bold;background-color: #ECECEC;border: 1px solid #173A52;cursor: pointer;padding: 1px 5px;font-size: 0.9em;}
.helpline{border-style: none;}
/* BBCode
 ------------ */
.quotetitle{margin: 10px 5px 0 5px;padding: 4px;border-width: 1px 1px 1px 1px;border-style: solid;border-color: #8A99A2;color: #333333;background-color: #A9B8C2;font-size: 0.9em;font-weight: bold;}
.attachtitle{margin: 10px 5px 0 5px;padding: 4px;border-width: 1px 1px 1px 1px;border-style: solid;border-color: #8A99A2;color: #333333;background-color: #A9B8C2;font-size: 0.9em;font-weight: bold;}
.quotecontent{margin: 0 5px 10px 5px;padding: 5px;border-color: #7D95A4;border-width: 0 1px 1px 1px;border-style: solid;font-weight: normal;font-size: 0.9em;line-height: 1.0em;font-family: "Lucida Grande", "Trebuchet MS", Helvetica, Arial, sans-serif;background-color: #FAFAFA;color: #4B5C77;}
.attachcontent{margin: 0 5px 10px 5px;padding: 5px;border-color: #7D95A4;border-width: 0 1px 1px 1px;border-style: solid;font-weight: normal;font-size: 0.9em;line-height: 1.0em;font-family: "Lucida Grande", "Trebuchet MS", Helvetica, Arial, sans-serif;background-color: #FAFAFA;color: #4B5C77;}
.attachcontent{font-size: 0.9em;}
.codetitle{margin: 10px 5px 0 5px;padding: 2px 4px;border-width: 1px 1px 1px 1px;border-style: solid;border-color: #8A99A2;color: #333333;background-color: #A9B8C2;font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;font-size: 0.8em;}
.codecontent{direction: ltr;margin: 0 5px 10px 5px;padding: 5px;border-color: #7D95A4;border-width: 0 1px 1px 1px;border-style: solid;font-weight: normal;color: #006600;font-size: 0.9em;font-family: Monaco, 'Courier New', monospace;background-color: #FAFAFA;}
.syntaxbg{color: #FFFFFF;}
.syntaxcomment{color: #FF8000;}
.syntaxdefault{color: #0000BB;}
.syntaxhtml{color: #000000;}
.syntaxkeyword{color: #007700;}
.syntaxstring{color: #DD0000;}
/* Private messages
 ------------------ */
.pm_marked_colour{background-color: #000000;}
.pm_replied_colour{background-color: #A9B8C2;}
.pm_friend_colour{background-color: #007700;}
.pm_foe_colour{background-color: #DD0000;}
/* Misc
 ------------ */
img{border: none;}
.sep{color: black;background-color: #FFA34F;}
table.colortable td{padding: 0;}
pre{font-size: 1.2em;font-family: Monaco, 'Courier New', monospace;}
.nowrap{white-space: nowrap;}
.username-coloured{font-weight: bold;}

#facebook {
    background: url("images/social.png") no-repeat scroll right 0 transparent;
    margin-right: 10px;
    padding-bottom: 4px;
    padding-right: 20px;
}
#twitter {
    background: url("images/social.png") no-repeat scroll right -32px transparent;
    margin-right: 10px;
    padding-bottom: 4px;
    padding-right: 20px;
}
#rss {
    background: url("images/social.png") no-repeat scroll right -64px transparent;
    margin-right: 10px;
    padding-bottom: 4px;
    padding-right: 20px;
}

#comrss {
    background: url("images/social.png") no-repeat scroll right -96px transparent;
    margin-right: 10px;
    padding-bottom: 4px;
    padding-right: 20px;
}

#footer {
    border-top: 1px solid #DFDFDF;
    height: 110px;
    margin: 25px auto;
    padding-top: 25px;
    width: 100%;
	padding-left: 33px;
}
#footer .textwidget {
    color: gray;
    font-size: 0.9em;
    line-height: 1.4;
}

.widget-container h3 {
    border-bottom: 1px solid #E5E5E5;
    color: #636363;
    font-family: 'Francois One',sans-serif;
    font-size: 1em;
    font-weight: normal;
    letter-spacing: 0.1em;
    margin: 0 0 0.8em;
    padding: 0 0 0.4em;
    text-transform: uppercase;
}
.widget-container.contact {
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    padding: 0;
    width: 226px;
}
.widget-container.about-us {
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    margin-right: 33px;
    padding: 0;
    width: 225px;
}
.widget-container.projects {
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    margin-right: 33px;
    padding: 0;
    width: 225px;
}
.widget-container.connect {
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    margin-right: 33px;
    padding: 0;
    width: 225px;
}