@CHARSET "UTF-8";

.login_form {
	width: 100%;
	text-align: center;
}

.login_error {
	width: 100%;
	text-align: center;
	font-weight: bold;
	color: #800000;
}

.date_with_hint {
	display: inline-block;
	vertical-align: top;
}

.date_hint {
	text-align: center;
	font-size: smaller;
	font-weight: bold;
}

.label_input {
	margin-right: 8px;
	display: inline-block;
}

.input_join {
	display: inline-block;
}

.error {
	font-weight: bold;
	color: #800000;
}

.logout {
	float: right;
}

form {
	background-color: #E0E0E0;
	border-style: groove;
	padding: 4px;
	display: block;
}

.no_banners {
	font-weight: bold;
}

.bannerItem {
	padding-bottom: 2px;
}

.bannerContent {
	display: inline-block;
	vertical-align: middle;
}

.bannerLabel {
	font-weight: bold;
}

.bannerContent img {
	vertical-align: middle;
}
