</div>
    
                <div id="page-footer">
                
                	<div class="navbar">
                		<div class="inner"><span class="corners-top"><span></span></span>
                
                		<ul class="linklist">
                			<li class="icon-home"><a href="{U_INDEX}" accesskey="h">{L_INDEX}</a></li>
                				<!-- IF not S_IS_BOT -->
                					<!-- IF S_WATCH_FORUM_LINK --><li <!-- IF S_WATCHING_FORUM -->class="icon-unsubscribe"<!-- ELSE -->class="icon-subscribe"<!-- ENDIF -->><a href="{S_WATCH_FORUM_LINK}" title="{S_WATCH_FORUM_TITLE}">{S_WATCH_FORUM_TITLE}</a></li><!-- ENDIF -->
                					<!-- IF U_WATCH_TOPIC --><li <!-- IF S_WATCHING_TOPIC -->class="icon-unsubscribe"<!-- ELSE -->class="icon-subscribe"<!-- ENDIF -->><a href="{U_WATCH_TOPIC}" title="{L_WATCH_TOPIC}">{L_WATCH_TOPIC}</a></li><!-- ENDIF -->
                					<!-- IF U_BOOKMARK_TOPIC --><li class="icon-bookmark"><a href="{U_BOOKMARK_TOPIC}" title="{L_BOOKMARK_TOPIC}">{L_BOOKMARK_TOPIC}</a></li><!-- ENDIF -->
                					<!-- IF U_BUMP_TOPIC --><li class="icon-bump"><a href="{U_BUMP_TOPIC}" title="{L_BUMP_TOPIC}">{L_BUMP_TOPIC}</a></li><!-- ENDIF -->
                				<!-- ENDIF -->
                            <li class="rightside"><!-- IF U_TEAM --><a href="{U_TEAM}">{L_THE_TEAM}</a> &bull; <!-- ENDIF --><!-- IF not S_IS_BOT --><a href="{U_DELETE_COOKIES}">{L_DELETE_COOKIES}</a> &bull; <!-- ENDIF -->{S_TIMEZONE}</li>
                		</ul>
                
                		<span class="corners-bottom"><span></span></span></div>
                	</div>
                </div>
            </div>
        
    
</div>
	
<!--
	We request you retain the full copyright notice below including the link to www.phpbb.com.
	This not only gives respect to the large amount of time given freely by the developers
	but also helps build interest, traffic and use of phpBB3. If you (honestly) cannot retain
	the full copyright we ask you at least leave in place the "Powered by phpBB" line, with
	"phpBB" linked to www.phpbb.com. If you refuse to include even this then support on our
	forums may be affected.

	The phpBB Group : 2006
//-->


<footer id="footer"><div id="footer-inner" class="region region-footer">
		            <div id="text-6" class="widget-container widget_text contact"><h3 class="widget-title">Mobile site</h3>			<div class="textwidget"><a href="?wpmp_switcher=mobile" onclick="document.cookie=&quot;wpmp_switcher=mobile;path=/;expires=Tue, 01-01-2030 00:00:00 GMT&quot;">Switch to our mobile site</a>
<br><br><br>Copyright 2011 Where Labs, LLC.<br>CC BY-SA unless otherwise noted.
</div>
		</div><div id="text-7" class="widget-container widget_text connect"><h3 class="widget-title">Connect</h3>			<div class="textwidget"><ul>
<li><a href="http://twitter.com/#!/dangerousproto" title="Follow us on twitter">Follow us on Twitter</a></li>
<li><a title="Subscribe to rss feed" href="/feed">Subscribe to our feed</a></li>
<li><a title="Subcribe to comments" href="/comments/feed">Subscribe to our comments</a></li>
<li><a href="http://www.facebook.com/pages/Dangerous-Prototypes/127701397281222" title="Visit our Facebook page">Visit our Facebook page</a></li>
<li><a href="/contact-us">Send us an email</a></li>
</ul>
</div>
		</div><div id="text-8" class="widget-container widget_text projects"><h3 class="widget-title">Projects</h3>			<div class="textwidget"><ul>
<li><a href="http://www.seeedstudio.com/depot/bus-blaster-v2-jtag-debugger-p-807.html" title="Bus Blaster v2">Get a Bus Blaster v2</a></li>
<li><a href="http://www.seeedstudio.com/depot/bus-pirate-v3-assembled-p-609.html?cPath=61_68">Get a Bus Pirate v3</a></li>
<li><a href="http://www.seeedstudio.com/depot/flash-destroyer-eeprom-tester-p-630.html?cPath=61_68">Get a Flash Destroyer kit</a></li>
<li><a href="http://www.seeedstudio.com/depot/preorder-open-workbench-logic-sniffer-p-612.html?cPath=75">Get a Logic Sniffer</a></li>
<li><a href="http://www.seeedstudio.com/depot/usb-infrared-toy-v2-p-831.html?cPath=174">Get a USB Infrared Toy</a></li>
</ul></div>
		</div><div id="text-9" class="widget-container widget_text about-us"><h3 class="widget-title">About Us</h3>			<div class="textwidget">Our goal is to release a new open source hardware project every month.  Copies of our projects are available through Seeed Studio and our distributors.</div>
		</div>		   </div></footer>














	<div class="copyright">
		<!-- IF TRANSLATION_INFO --><br />{TRANSLATION_INFO}<!-- ENDIF -->
		<!-- IF DEBUG_OUTPUT --><br />{DEBUG_OUTPUT}<!-- ENDIF -->
		<!-- IF U_ACP --><br /><strong><a href="{U_ACP}">{L_ACP}</a></strong><!-- ENDIF -->
	</div>



<div>
	<a id="bottom" name="bottom" accesskey="z"></a>
	<!-- IF not S_IS_BOT -->{RUN_CRON_TASK}<!-- ENDIF -->
</div>
<script type="text/javascript" src="mobiquo/tapatalkdetect.js"></script>
</body>
</html>