<!-- INCLUDE mcp_header.html -->

<form name="mcp" id="mcp" method="post" action="{S_MCP_ACTION}">

<!-- IF S_CAN_SPLIT -->
<hr />
<br />

<hr />
<table cellspacing="0">
	<tr>
		<th>{L_SPLIT_TOPIC}</th>
	</tr>
</table>

<hr />
<table cellspacing="0">
	<tr>
		<td class="row1"><span class="gensmall">{L_SPLIT_TOPIC_EXPLAIN}</span></td>
	</tr>
</table>

<hr />
<table cellspacing="0">
	<tr>
		<td class="row2" nowrap="nowrap"><span class="gen">{L_SPLIT_SUBJECT}</span><br />
		<input class="post" style="width: 220px" type="text" size="25" maxlength="54" name="subject" value="{SPLIT_SUBJECT}" /></td>
	</tr>
</table>

<hr />
<table cellspacing="0">
	<tr>
		<td class="row1" nowrap="nowrap"><span class="gen">{L_SPLIT_FORUM}</span><br />
		<select name="to_forum_id">{S_FORUM_SELECT}</select></td>
	</tr>
</table>

	<!-- IF S_SHOW_TOPIC_ICONS -->
<hr />
<table cellspacing="0">
		<tr>
			<td class="row2"><span class="gen">{L_TOPIC_ICON}</span>
				<table width="100%" cellspacing="0" cellpadding="0" border="0">
				<tr>
					<td><span class="genmed nowrap"><input type="radio" class="radio" name="icon" value="0"<!-- IF not S_TOPIC_ICON --> checked="checked"<!-- ENDIF --> />{L_NO_TOPIC_ICON}</span> <!-- BEGIN topic_icon --><span class="nowrap"><input type="radio" class="radio" name="icon" value="{topic_icon.ICON_ID}"<!-- IF topic_icon.S_CHECKED --> checked="checked"<!-- ENDIF --> /><img src="{topic_icon.ICON_IMG}" width="{topic_icon.ICON_WIDTH}" height="{topic_icon.ICON_HEIGHT}" alt="" title="" hspace="2" vspace="2" /></span> <!-- END topic_icon --></td>
				</tr>
				</table>
			</td>
		</tr>
</table>
	<!-- ENDIF -->
<!-- ENDIF -->

<!-- IF S_CAN_MERGE -->
<hr />
<br />

<hr />
<table cellspacing="0">
	<tr>
		<th>{L_MERGE_TOPIC}</th>
	</tr>
</table>

<hr />
<table cellspacing="0">
	<tr>
		<td class="row1"><span class="gensmall">{L_MERGE_TOPIC_EXPLAIN}</span></td>
	</tr>
</table>

<hr />
<table cellspacing="0">
	<tr>
		<td class="row2"><span class="gen">{L_MERGE_TOPIC_ID}</span><br />
		<input class="post" type="text" size="6" name="to_topic_id" value="{TO_TOPIC_ID}" /> <a href="{U_SELECT_TOPIC}">{L_SELECT_TOPIC}</a></td>
	</tr>
</table>

	<!-- IF TO_TOPIC_INFO -->
<hr />
<table cellspacing="0">
		<tr>
			<td class="row1"><b class="gen">{TO_TOPIC_INFO}</b></td>
		</tr>
</table>
	<!-- ENDIF -->
<!-- ENDIF -->

<hr />
<br />

<hr />
<table cellspacing="0">
	<tr>
		<th>{L_DISPLAY_OPTIONS}</th>
	</tr>
</table>

<hr />
<table cellspacing="0">
	<tr>
		<td class="row1" nowrap="nowrap"><span class="gen">{L_POSTS_PER_PAGE}</span><br />
			<input class="post" type="text" name="posts_per_page" size="6" value="{POSTS_PER_PAGE}" /><br /><span class="gensmall">{L_POSTS_PER_PAGE_EXPLAIN}</span></td>
	</tr>
</table>

<hr />
<table cellspacing="0">
	<tr>
		<td class="cat" colspan="3" align="center"><span class="gensmall">{L_DISPLAY_POSTS}:</span> {S_SELECT_SORT_DAYS}&nbsp;<span class="gensmall">{L_SORT_BY}</span> {S_SELECT_SORT_KEY} {S_SELECT_SORT_DIR}&nbsp;<input class="btnlite" type="submit" name="sort" value="{L_GO}" /></td>
	</tr>
</table>

<hr />
<table cellspacing="0">
<tr>
	<td><span class="gensmall">{RETURN_TOPIC}</span></td>
</tr>
</table>

<hr />
<table cellspacing="0">
	<tr>
		<th>{L_TOPICS}</th>
	</tr>
</table>

<!-- BEGIN postrow -->

<hr />
<table cellspacing="0">
	<tr>
		<td class="row2 genmed">{postrow.POST_SUBJECT}</td>
	</tr>
</table>

<hr />
<table cellspacing="0">
	<tr>
		<td class="row1 profile">{L_POST_BY_AUTHOR} <b class="postauthor">{postrow.POST_AUTHOR_FULL}</b>
		</td>
	</tr>
	<tr>
		<td class="row1"><span class="gensmall">[ <a href="{postrow.U_POST_DETAILS}">{L_POST_DETAILS}</a> ]</span></td>
	</tr>
	<tr>
		<td class="row1 gensmall" nowrap="nowrap"><b>{L_POSTED}:</b> {postrow.POST_DATE} {postrow.MINI_POST_IMG}</td>
	</tr>
	<tr>
		<td class="row1">
			<div class="postbody">{postrow.MESSAGE}</div>
			<!-- IF postrow.S_HAS_ATTACHMENTS -->
				<br clear="all" /><br />
					<table class="tablebg" width="100%" cellspacing="1">
				<tr>
					<td class="row3"><b class="genmed">{L_ATTACHMENTS}: </b></td>
				</tr>
				<!-- BEGIN attachment -->
					<tr>
						<!-- IF postrow.attachment.S_ROW_COUNT is even --><td class="row2"><!-- ELSE --><td class="row1"><!-- ENDIF -->{postrow.attachment.DISPLAY_ATTACHMENT}</td>
					</tr>
				<!-- END attachment -->
				</table>
			<!-- ENDIF -->
			<table width="100%" cellspacing="0" cellpadding="0" border="0">
				<tr valign="middle">
					<td width="100%">
						<!-- IF postrow.S_POST_UNAPPROVED and postrow.U_MCP_APPROVE -->{UNAPPROVED_IMG} <span class="postapprove"><a href="{postrow.U_MCP_APPROVE}">{L_POST_UNAPPROVED}</a></span><!-- ENDIF -->
						<!-- IF postrow.S_POST_REPORTED and postrow.U_MCP_REPORT -->{REPORTED_IMG}<span class="postreported"><a href="{postrow.U_MCP_REPORT}">{L_POST_REPORTED}</a></span><!-- ENDIF --><br />
						<input type="checkbox" class="radio" name="post_id_list[]" value="{postrow.POST_ID}"<!-- IF postrow.S_CHECKED --> checked="checked"<!-- ENDIF --> /> {L_SELECT}
								</td>
				</tr>
			</table>
		</td>
	</tr>
</table>

<!-- IF not postrow.S_LAST_ROW -->
<hr />
<table cellspacing="0">
	<tr>
		<td class="spacer"></td>
	</tr>
</table>
<!-- ENDIF -->

<!-- END postrow -->

<hr />
<table cellspacing="0">
	<tr>
		<td class="cat" align="center"><select name="action"><option value="" selected="selected">{L_SELECT_ACTION}</option>
			<!-- IF S_CAN_APPROVE --><option value="approve">{L_APPROVE_POSTS}</option><!-- ENDIF -->
			<!-- IF S_CAN_LOCK --><option value="lock_post">{L_LOCK_POST_POSTS} [ {L_LOCK_POST_EXPLAIN} ]</option><option value="unlock_post">{L_UNLOCK_POST_POSTS}</option><!-- ENDIF -->
			<!-- IF S_CAN_DELETE --><option value="delete_post">{L_DELETE_POSTS}</option><!-- ENDIF -->
			<!-- IF S_CAN_MERGE --><option value="merge_posts"<!-- IF ACTION eq 'merge' --> selected="selected"<!-- ENDIF -->>{L_MERGE_POSTS}</option><!-- ENDIF -->
			<!-- IF S_CAN_SPLIT --><option value="split_all"<!-- IF ACTION eq 'split' --> selected="selected"<!-- ENDIF -->>{L_SPLIT_POSTS}</option><option value="split_beyond">{L_SPLIT_AFTER}</option><!-- ENDIF -->
		</select>&nbsp;<input class="btnmain" type="submit" name="mcp_topic_submit" value="{L_SUBMIT}" /></td>
	</tr>
</table>
{S_HIDDEN_FIELDS}
{S_FORM_TOKEN}
</form>

<hr />
<table cellspacing="0">
	<tr>
		<td align="{S_CONTENT_FLOW_END}" valign="top" nowrap="nowrap"><b class="gensmall"><a href="#" onclick="marklist('mcp', '', true); return false;">{L_MARK_ALL}</a> :: <a href="#" onclick="marklist('mcp', '', false); return false;">{L_UNMARK_ALL}</a></b></td>
	</tr>
</table>

<!-- INCLUDE mcp_footer.html -->