<!-- INCLUDE overall_header.html -->

<hr />

<div id="pageheader">

<!-- IF U_MCP -->
	<!-- IF U_MCP_FORUM --><p class="linkmcp">[ <a href="{U_MCP_FORUM}">{L_MODERATE_FORUM}</a> ]</p><!-- ENDIF -->
	<!-- IF U_MCP_TOPIC --><p class="linkmcp">[ <a href="{U_MCP_TOPIC}">{L_MODERATE_TOPIC}</a> ]</p><!-- ENDIF -->
	<!-- IF U_MCP_POST --><p class="linkmcp">[ <a href="{U_MCP_POST}">{L_MODERATE_POST}</a> ]</p><!-- ENDIF -->
<!-- ENDIF -->

</div>

<!-- IF TOPIC_TITLE or FORUM_NAME -->
<table cellspacing="0">
	<tr>
		<td align="center">
			<h2><!-- IF TOPIC_TITLE --><a class="titles" href="{U_VIEW_TOPIC}">{TOPIC_TITLE}</a><!-- ELSE --><a class="titles" href="{U_VIEW_FORUM}">{FORUM_NAME}</a><!-- ENDIF --></h2>
		</td>
	</tr>
</table>
<!-- ELSE -->
<br />
<!-- ENDIF -->

<div id="pagecontent">

<hr />
<table cellspacing="0">
	<tr>
		<th>{L_OPTIONS}</th>
	</tr>
</table>

	<!-- BEGIN l_block1 -->
<hr />
<table cellspacing="0">
	<!-- IF l_block1.S_SELECTED -->
	<tr>
		<td class="row1">
			<b class="nav">{l_block1.L_TITLE}</b>

			<ul class="nav" style="margin: 0; padding: 0; list-style-type: none; line-height: 175%;">
			<!-- BEGIN l_block2 -->
				<li>&#187; <!-- IF l_block1.l_block2.S_SELECTED --><b>{l_block1.l_block2.L_TITLE}</b><!-- ELSE --><a href="{l_block1.l_block2.U_TITLE}">{l_block1.l_block2.L_TITLE}</a><!-- ENDIF --></li>
			<!-- END l_block2 -->
			</ul>
		</td>
	</tr>
	<!-- ELSE -->
	<tr>
		<td class="row2" onmouseover="this.className='row3'" onmouseout="this.className='row2'" onclick="location.href=this.firstChild.href;">
			<a class="titles" href="{l_block1.U_TITLE}">{l_block1.L_TITLE}</a>
		</td>
	</tr>
	<!-- ENDIF -->
</table>
<!-- END l_block1 -->

		<!-- IF MESSAGE -->
<hr />
<br />

<hr />
<table cellspacing="0">
	<tr>
		<th>{L_MESSAGE}</th>
	</tr>
</table>

<hr />
<table cellspacing="0">
	<tr>
		<td class="row1" align="center">
			<br /><span class="gen">{MESSAGE}<!-- BEGIN return_links --><br /><br />{return_links.MESSAGE_LINK}<!-- END return_links --></span>
		</td>
	</tr>
</table>
		<!-- ENDIF -->

		<!-- IF CONFIRM_MESSAGE -->
<hr />
<br />
		<form name="confirm" method="post" action="{S_CONFIRM_ACTION}">

<hr />
<table cellspacing="0">
	<tr>
		<th>{L_PLEASE_CONFIRM}</th>
	</tr>
</table>

<hr />
<table cellspacing="0">
	<tr>
		<td class="row1" align="center">
			<span class="gen"><br />{CONFIRM_MESSAGE}<br /><br />{S_HIDDEN_FIELDS}<input class="btnmain" type="submit" name="confirm" value="{L_YES}" />&nbsp;&nbsp;<input class="btnlite" type="submit" name="cancel" value="{L_NO}" /><br /><br /></span>
		</td>
	</tr>
</table>

<hr />
		</form>
		<!-- ENDIF -->
