<!-- IF S_IN_SEARCH_POPUP -->
	<!-- INCLUDE simple_header.html -->
<!-- ELSE -->
	<!-- INCLUDE overall_header.html -->
<!-- ENDIF -->

<hr />
	
<!-- IF S_SEARCH_USER -->	
	<!-- INCLUDE memberlist_search.html -->	
<!-- ENDIF -->

<!-- IF S_SHOW_GROUP --><!-- INCLUDE memberlist_group.html --><!-- ENDIF -->

<!-- IF not S_SHOW_GROUP -->
	<form method="post" name="charsearch" action="{S_MODE_ACTION}">
<table cellspacing="0">
	<tr>
		<td class="genmed" align="center">{L_USERNAME_BEGINS_WITH}: </span><select name="first_char" onchange="this.form.submit();">{S_CHAR_OPTIONS}</select>&nbsp;<input type="submit" name="char" value="{L_DISPLAY}" class="btnlite" />
<!-- IF U_FIND_MEMBER and not S_SEARCH_USER -->
		<p class="gensmall" align="{S_CONTENT_FLOW_END}"><a href="{U_FIND_MEMBER}">{L_FIND_USERNAME}</a></p>
<!-- ELSEIF S_SEARCH_USER and U_HIDE_FIND_MEMBER and not S_IN_SEARCH_POPUP -->
		<p class="gensmall" align="{S_CONTENT_FLOW_END}"><a href="{U_HIDE_FIND_MEMBER}">{L_HIDE_MEMBER_SEARCH}</a></p>
<!-- ENDIF --></td>
	</tr>
</table>
	{S_FORM_TOKEN}
	</form>
<!-- ENDIF -->

<!-- IF S_IN_SEARCH_POPUP -->
	<form method="post" name="results" action="{S_MODE_ACTION}" onsubmit="insert_marked(this.user);return false">
<!-- ELSE -->
	<form method="post" action="{S_MODE_ACTION}">
<!-- ENDIF -->
<hr />
<table cellspacing="0">
	<tr>
		<th>{L_MEMBERLIST}<!-- IF S_IN_SEARCH_POPUP and not S_SELECT_SINGLE -->&nbsp;{L_MARK}<!-- ENDIF --></th>
	</tr>
</table>
<!-- BEGIN memberrow -->

	<!-- IF S_SHOW_GROUP -->
		<!-- IF memberrow.S_FIRST_ROW and memberrow.S_GROUP_LEADER -->
<hr />
<table cellspacing="0">
	<tr class="row4">
		<td><b class="gensmall">{L_GROUP_LEADER}</b></td>
	</tr>
</table>
		<!-- ELSEIF not memberrow.S_GROUP_LEADER and not $S_MEMBER_HEADER -->
<hr />
<table cellspacing="0">
	<tr class="row4">
		<td><b class="gensmall">{L_GROUP_MEMBERS}</b></td>
	</tr>
</table>
				<!-- DEFINE $S_MEMBER_HEADER = 1 -->
		<!-- ENDIF -->
	<!-- ENDIF -->

<hr />
<table cellspacing="0">
	<!-- IF memberrow.S_ROW_COUNT is even --><tr class="row1"><!-- ELSE -->	<tr class="row2"><!-- ENDIF -->

		<td class="genmed">
		<p class="gensmall">#{memberrow.ROW_NUMBER}&nbsp;{memberrow.USERNAME_FULL}<!-- IF S_SELECT_SINGLE --> [&nbsp;<a href="#" onclick="insert_single('{memberrow.A_USERNAME}'); return false;">{L_SELECT}</a>&nbsp;]<!-- ENDIF --> - {memberrow.RANK_TITLE}</p>
		{L_JOINED}: {memberrow.JOINED}&nbsp;
		<p class="gensmall">{L_POSTS}: {memberrow.POSTS}&nbsp;
		&nbsp;<!-- IF memberrow.U_PM --><a href="{memberrow.U_PM}">{PM_IMG}</a><!-- ENDIF -->&nbsp;
		&nbsp;<!-- IF memberrow.U_EMAIL --><a href="{memberrow.U_EMAIL}">{EMAIL_IMG}</a><!-- ENDIF -->&nbsp;
		&nbsp;<!-- IF memberrow.U_WWW --><a href="{memberrow.U_WWW}">{WWW_IMG}</a><!-- ENDIF -->&nbsp;</p>
		<!-- IF memberrow.S_PROFILE_FIELD1 -->
			<!-- Use a construct like this to include admin defined profile fields. Replace FIELD1 with the name of your field. -->
			<p>&nbsp;{memberrow.PROFILE_FIELD1_VALUE}</p>
		<!-- ENDIF -->
		<!-- IF S_IN_SEARCH_POPUP and not S_SELECT_SINGLE --><p><input type="checkbox" class="radio" name="user" value="{memberrow.USERNAME}" /></p><!-- ENDIF -->
		</td>
	</tr>
</table>

<!-- IF not memberrow.S_LAST_ROW -->
<hr />
<table cellspacing="0">
	<tr>
		<td class="spacer"></td>
	</tr>
</table>
<!-- ENDIF -->

<!-- BEGINELSE -->

<hr />
<table cellspacing="0">
	<tr> class="row1"
		<td><span class="gen"><!-- IF S_SHOW_GROUP -->{L_NO_GROUP_MEMBERS}<!-- ELSE -->{L_NO_MEMBERS}<!-- ENDIF --></span></td>
	</tr>
</table>

<!-- END memberrow -->

<hr />
<table cellspacing="0">
	<tr>
		<td align="center"><!-- IF S_IN_SEARCH_POPUP and not S_SELECT_SINGLE --><input class="btnlite" type="submit" value="{L_SELECT_MARKED}" /><!-- ELSE --><span class="gensmall">{L_SELECT_SORT_METHOD}:</span>&nbsp;<select name="sk">{S_MODE_SELECT}</select><br /><span class="gensmall">{L_ORDER}</span>&nbsp;<select name="sd">{S_ORDER_SELECT}</select>&nbsp; <input type="submit" name="submit" value="{L_SUBMIT}" class="btnlite" /><!-- ENDIF --></td>
	</tr>
</table>
{S_FORM_TOKEN}
	
</form>

<table cellspacing="0">
	<tr>
		<td class="pagination gensmall">{PAGE_NUMBER} [ {TOTAL_USERS} ]</td>
		<td align="{S_CONTENT_FLOW_END}"><!-- IF S_IN_SEARCH_POPUP and not S_SELECT_SINGLE --><b class="nav"><a href="#" onclick="marklist('results', 'user', true); return false;">{L_MARK_ALL}</a> :: <a href="#" onclick="marklist('results', 'user', false); return false;">{L_UNMARK_ALL}</a></b><br /><!-- ENDIF --><span class="pagination"><!-- INCLUDE pagination.html --></span></td>
	</tr>
</table>



<!-- IF S_IN_SEARCH_POPUP -->
	<!-- INCLUDE simple_footer.html -->	
<!-- ELSE -->
	
	<!-- INCLUDE breadcrumbs.html -->
	
<hr />
	<div align="center"><!-- INCLUDE jumpbox.html --></div>	
	<!-- INCLUDE overall_footer.html -->
<!-- ENDIF -->