<hr />
<table cellspacing="0">
	<tr>
		<th>
		<script type="text/javascript">
		// <![CDATA[
			/**
			* Show upload progress bar
			*/
			function popup_progress_bar()
			{
				close_waitscreen = 0;
				// no scrollbars
				popup('{UA_PROGRESS_BAR}', 400, 200, '_upload');
			}
		// ]]>
		</script>

		<!-- IF S_CLOSE_PROGRESS_WINDOW -->
			<script type="text/javascript">
			// <![CDATA[
				close_waitscreen = 1;
			// ]]>
			</script>
		<!-- ENDIF -->

		{L_ADD_ATTACHMENT}
		</th>
	</tr>
</table>

<hr />
<table cellspacing="0">
	<tr class="row2"> 
		<td><b class="genmed">{L_FILENAME}</b></td> 
	</tr>
	<tr class="row2">
		<td><input type="file" name="fileupload" size="31" value="" class="btnfile" style="width: 98%;" /></td> 
	</tr>
</table> 

<hr />
<table cellspacing="0">
	<tr class="row1"> 
		<td><b class="genmed">{L_FILE_COMMENT}</b></td> 
	</tr>
	<tr class="row1">
		<td>
			<table border="0" cellspacing="0" cellpadding="2">
			<tr>
				<td><textarea class="post" name="filecomment" rows="1" cols="35" style="width: 98%;">{FILE_COMMENT}</textarea></td>
			</tr>
			<tr>
				<td>
					<table border="0" cellspacing="4" cellpadding="0">
					<tr>
						<td><input class="btnlite" type="submit" style="width:100" name="add_file" value="{L_ADD_FILE}" onclick="popup_progress_bar();" /></td>
					</tr>
					</table>
				</td>
			</tr>
			</table>
		</td>
	</tr> 
</table>

	<!-- IF S_HAS_ATTACHMENTS -->
<hr />
<br />
<hr />
<table cellspacing="0">
	<tr>
		<th>{L_POSTED_ATTACHMENTS}</th>
	</tr>
</table>

	<!-- BEGIN attach_row -->
<hr />
<table cellspacing="0">
	<tr>
		<td class="row2"><b class="genmed">{L_FILENAME}</b></td>
	</tr>
	<tr>
		<td class="row2"><a class="genmed" href="{attach_row.U_VIEW_ATTACHMENT}" target="_blank">{attach_row.FILENAME}</a></td> 
	</tr>
</table>

<hr />
<table cellspacing="0">
	<tr> 
		<td class="row1"><b class="genmed">{L_FILE_COMMENT}</b></td> 
	</tr>
	<tr>
		<td class="row1">{attach_row.S_HIDDEN}
			<textarea class="post" name="comment_list[{attach_row.ASSOC_INDEX}]" rows="4" cols="16" wrap="virtual">{attach_row.FILE_COMMENT}</textarea><br />
			<input class="btnlite" type="submit" style="width:150px" name="delete_file[{attach_row.ASSOC_INDEX}]" value="{L_DELETE_FILE}" />
		</td>
	</tr>
</table>
	<!-- END attach_row -->

<!-- ENDIF -->
