<hr />
<br />

<hr />
<table cellspacing="0">
	<tr>
		<th>{L_TOPIC_REVIEW}</th>
	</tr>
</table>

<hr />
<table cellspacing="0">
	<tr>
		<td><h4>{TOPIC_TITLE}</h4></td>
	</tr>
</table>

		<!-- BEGIN topic_review_row -->
<hr />
<table cellspacing="0">
	<tr class="row2">
		<td><b>{L_SUBJECT}:</b> {topic_review_row.POST_SUBJECT}</td>
	</tr>
</table>

<hr />
<table cellspacing="0">
	<tr class="row1">
		<td align="{S_CONTENT_FLOW_BEGIN}" valign="top"><a id="pr{topic_review_row.POST_ID}"></a>
			<table cellspacing="0">
				<tr>
					<td class="profile"><b class="postauthor"<!-- IF topic_review_row.POST_AUTHOR_COLOUR --> style="color: {topic_review_row.POST_AUTHOR_COLOUR}"<!-- ENDIF -->>{topic_review_row.POST_AUTHOR}</b>&nbsp;<!-- IF topic_review_row.POSTER_QUOTE and topic_review_row.DECODED_MESSAGE --><a href="#" onclick="addquote({topic_review_row.POST_ID},'{topic_review_row.POSTER_QUOTE}'); return false;">{QUOTE_IMG}</a><!-- ENDIF --><br />
							<span class="gensmall" nowrap="nowrap"><!-- IF S_IS_BOT -->{topic_review_row.POST_DATE}&nbsp;{topic_review_row.MINI_POST_IMG}<!-- ELSE --><a href="{topic_review_row.U_MINI_POST}">{topic_review_row.POST_DATE}&nbsp;{topic_review_row.MINI_POST_IMG}</a><!-- ENDIF --></span>
							<!-- IF topic_review_row.U_MCP_DETAILS --><br /><span class="gensmall">[ <a href="{topic_review_row.U_MCP_DETAILS}">{L_POST_DETAILS}</a> ]</span><!-- ENDIF --></td>
				</tr>
			</table>
			<table cellspacing="0">
				<tr>
					<td valign="top">
						<table cellspacing="0">
							<tr>
								<td>
									<div class="postbody">{topic_review_row.MESSAGE}</div>

									<!-- IF topic_review_row.S_HAS_ATTACHMENTS -->
										<br clear="all" />

										<hr />
										<table cellspacing="0">
											<tr>
												<td class="row3"><b class="genmed">{L_ATTACHMENTS}: </b></td>
											</tr>
										</table>
										<!-- BEGIN attachment -->
										<hr />
										<table cellspacing="0">
											<tr>
												<td class="row2">{topic_review_row.attachment.DISPLAY_ATTACHMENT}</td>
											</tr>
										</table>
										<!-- END attachment -->
									<!-- ENDIF -->

									<!-- IF topic_review_row.POSTER_QUOTE and topic_review_row.DECODED_MESSAGE -->
										<div id="message_{topic_review_row.POST_ID}" style="display: none;">{topic_review_row.DECODED_MESSAGE}</div>
									<!-- ENDIF -->
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>

	<!-- IF not topic_review_row.S_LAST_ROW -->
<hr />
<table cellspacing="0">
	<tr>
		<td class="spacer"></td>
	</tr>
</table>
	<!-- ELSE -->
<hr />
<br clear="all" />
	<!-- ENDIF -->

		<!-- END topic_review_row -->
