<!-- INCLUDE ucp_header.html -->

<hr />
<br />

<hr />
<table cellspacing="0">
	<tr>
		<th>{L_TITLE}</th>
	</tr>
</table>

<!-- IF ERROR -->
<hr />
<table cellspacing="0">
	<tr>
		<td class="cat" align="center"><span class="gensmall error">{ERROR}</span></td>
	</tr>
</table>
<!-- ENDIF -->

<hr />
<table cellspacing="0">
	<tr>
		<td class="row1"><b class="genmed">{L_DEFAULT_BBCODE}:</b><br />
			<input type="radio" class="radio" name="bbcode" value="1"<!-- IF S_BBCODE --> checked="checked"<!-- ENDIF --> /><span class="gen">{L_YES}</span>&nbsp; &nbsp;
			<input type="radio" class="radio" name="bbcode" value="0"<!-- IF not S_BBCODE --> checked="checked"<!-- ENDIF --> /><span class="gen">{L_NO}</span></td>
	</tr>
</table>

<hr />
<table cellspacing="0">
	<tr>
		<td class="row2"><b class="genmed">{L_DEFAULT_SMILIES}:</b><br />
			<input type="radio" class="radio" name="smilies" value="1"<!-- IF S_SMILIES --> checked="checked"<!-- ENDIF --> /><span class="gen">{L_YES}</span>&nbsp; &nbsp;
			<input type="radio" class="radio" name="smilies" value="0"<!-- IF not S_SMILIES --> checked="checked"<!-- ENDIF --> /><span class="gen">{L_NO}</span></td>
	</tr>
</table>

<hr />
<table cellspacing="0">
	<tr>
		<td class="row1"><b class="genmed">{L_DEFAULT_ADD_SIG}:</b><br />
			<input type="radio" class="radio" name="sig" value="1"<!-- IF S_SIG --> checked="checked"<!-- ENDIF --> /><span class="gen">{L_YES}</span>&nbsp; &nbsp;
			<input type="radio" class="radio" name="sig" value="0"<!-- IF not S_SIG --> checked="checked"<!-- ENDIF --> /><span class="gen">{L_NO}</span></td>
	</tr>
</table>

<hr />
<table cellspacing="0">
	<tr>
		<td class="row2"><b class="genmed">{L_DEFAULT_NOTIFY}:</b><br />
			<input type="radio" class="radio" name="notify" value="1"<!-- IF S_NOTIFY --> checked="checked"<!-- ENDIF --> /><span class="gen">{L_YES}</span>&nbsp; &nbsp;
			<input type="radio" class="radio" name="notify" value="0"<!-- IF not S_NOTIFY --> checked="checked"<!-- ENDIF --> /><span class="gen">{L_NO}</span></td>
	</tr>
</table>

<hr />
<table cellspacing="0">
	<tr>
		<td class="cat" align="center">{S_HIDDEN_FIELDS}<input class="btnmain" type="submit" name="submit" value="{L_SUBMIT}" />&nbsp;&nbsp;<input class="btnlite" type="reset" value="{L_RESET}" name="reset" /></td>
	</tr>
</table>

<hr />
<br />

<!-- INCLUDE ucp_footer.html -->