<!-- INCLUDE overall_header.html -->

<!-- IF S_DISPLAY_ACTIVE -->
<hr />
<br />

<hr />
<table cellspacing="0">
	<tr>
		<th>{L_ACTIVE_TOPICS}</th>
	</tr>
</table>			

<!-- BEGIN topicrow -->
<hr />
<table cellspacing="0">
	<tr class="row2">
		<td class="genmed"><span><a title="{L_POSTED}: {topicrow.FIRST_POST_TIME}" href="{topicrow.U_VIEW_TOPIC}" class="topictitle">{topicrow.TOPIC_TITLE}</a>
			{topicrow.ATTACH_ICON_IMG} <!-- IF topicrow.S_HAS_POLL or topicrow.S_TOPIC_MOVED --><b>{topicrow.TOPIC_TYPE}</b> <!-- ENDIF -->&nbsp;
			<!-- IF topicrow.S_TOPIC_UNAPPROVED or topicrow.S_POSTS_UNAPPROVED -->
			<a href="{topicrow.U_MCP_QUEUE}">{UNAPPROVED_IMG}</a>&nbsp;
			<!-- ENDIF -->
			<!-- IF topicrow.S_TOPIC_REPORTED -->
			<a href="{topicrow.U_MCP_REPORT}">{REPORTED_IMG}</a>
			<!-- ENDIF --></span></td>
	</tr>
</table>

<hr />
<table cellspacing="0">
	<tr class="row1">
		<td><p class="topicauthor">{L_AUTHOR}: {topicrow.TOPIC_AUTHOR_FULL} <br /> {topicrow.VIEWS} {L_VIEWS} with {topicrow.REPLIES} {L_REPLIES}</p>
			<!-- IF topicrow.PAGINATION -->
			<p class="gensmall"> [ {GOTO_PAGE_IMG}{L_GOTO_PAGE}: {topicrow.PAGINATION} ] </p>
			<!-- ENDIF -->
			<p class="topicdetails">{L_POST_BY_AUTHOR} {topicrow.LAST_POST_AUTHOR_FULL} <a href="{topicrow.U_LAST_POST}">{LAST_POST_IMG}</a></p>
			<p class="topicdetails">{topicrow.LAST_POST_TIME}</p>
		</td>
	</tr>
</table>
<!-- IF not topicrow.S_LAST_ROW -->
<hr />
<table cellspacing="0">
	<tr>
		<td class="spacer"></td>
	</tr>
</table>
<!-- ENDIF -->
	<!-- BEGINELSE -->
<hr />
<table cellspacing="0">
	<tr class="row1">
		<td align="center"><span class="gen"><!-- IF not S_SORT_DAYS -->{L_NO_TOPICS}<!-- ELSE -->{L_NO_TOPICS_TIME_FRAME}<!-- ENDIF --></span></td>
	</tr>
</table>
<!-- END topicrow -->

<!-- ENDIF -->

<!-- IF S_HAS_SUBFORUM -->
<hr />
	<!-- IF not S_IS_BOT and U_MARK_FORUMS -->
		<a href="{U_MARK_FORUMS}">{L_MARK_FORUMS_READ}</a><br />
	<!-- ENDIF -->
	<!-- INCLUDE forumlist_body.html -->
<!-- ENDIF -->

<!-- IF S_IS_POSTABLE or S_NO_READ_ACCESS -->
	<div id="pageheader">

		<!-- IF MODERATORS -->
			<p class="moderators"><!-- IF S_SINGLE_MODERATOR -->{L_MODERATOR}<!-- ELSE -->{L_MODERATORS}<!-- ENDIF -->: {MODERATORS}</p>
		<!-- ENDIF -->
	</div>
<!-- ENDIF -->

<div id="pagecontent">

<!-- IF S_NO_READ_ACCESS -->
<hr />
<table cellspacing="0">
	<tr class="row2">
		<td class="gen" align="center">{L_NO_READ_ACCESS}</td>
	</tr>
</table>
<!-- ENDIF -->

<!-- IF S_DISPLAY_POST_INFO or TOTAL_TOPICS -->
<hr />
<table cellspacing="0">
	<tr>
		<td width="50%"><!-- IF S_WATCH_FORUM_LINK and not S_IS_BOT --><a href="{S_WATCH_FORUM_LINK}"><strong>{S_WATCH_FORUM_TITLE}</strong></a><!-- ENDIF --></td>
		<td width="50%" align="{S_CONTENT_FLOW_END}"><!-- IF not S_IS_BOT and U_MARK_TOPICS --><a href="{U_MARK_TOPICS}"><strong>{L_MARK_TOPICS_READ}</strong></a><!-- ENDIF --></td>
	</tr>
	<tr>
		<td colspan="2">
			<p class="gensmall" align="center">{PAGE_NUMBER}&nbsp;[ {TOTAL_TOPICS} ]
		<!-- IF TOTAL_TOPICS -->
			<br /><!-- INCLUDE pagination.html -->
		<!-- ENDIF --></p>
		<!-- IF S_DISPLAY_POST_INFO and not S_IS_BOT -->
			<a href="{U_POST_NEW_TOPIC}"><strong>{L_POST_NEW_TOPIC}</strong></a>
		<!-- ENDIF -->
		</td>
	</tr>
</table>
<!-- ENDIF -->

<!-- IF not S_DISPLAY_ACTIVE and (S_IS_POSTABLE or .topicrow) -->
<hr />
<table width="100%" cellspacing="0">
	<tr>
		<th><a href="{U_VIEW_FORUM}">{FORUM_NAME}</a></th>
	</tr>
</table>

<!-- BEGIN topicrow -->
<!-- IF topicrow.S_TOPIC_TYPE_SWITCH eq 1 -->
<hr />
<table cellspacing="0">
	<tr class="cat">
		<td><strong>{L_ANNOUNCEMENTS}</strong></td>
	</tr>
</table>
<!-- ELSEIF topicrow.S_TOPIC_TYPE_SWITCH eq 0 -->
<hr />
<table cellspacing="0">
	<tr>
		<td class="spacer"></td>
	</tr>
</table>

<hr />
<table cellspacing="0">
	<tr class="cat">
		<td><strong>{L_TOPICS}</strong></td>
	</tr>
</table>
<!-- ENDIF -->
<hr />
<table cellspacing="0">
	<tr class="row2">
		<td><span><!-- IF topicrow.S_UNREAD_TOPIC --><a title="{L_POSTED}: {topicrow.FIRST_POST_TIME}" href="{topicrow.U_VIEW_TOPIC}" class="topictitle_new">{topicrow.TOPIC_TITLE}</a> <a href="{topicrow.U_NEWEST_POST}">{NEWEST_POST_IMG}</a>&nbsp;<!-- ELSE --><a title="{L_POSTED}: {topicrow.FIRST_POST_TIME}" href="{topicrow.U_VIEW_TOPIC}" class="topictitle">{topicrow.TOPIC_TITLE}</a><!-- ENDIF -->&nbsp; 
			{topicrow.ATTACH_ICON_IMG} <!-- IF topicrow.S_HAS_POLL or topicrow.S_TOPIC_MOVED --><b>{topicrow.TOPIC_TYPE}</b> <!-- ENDIF -->
			<!-- IF topicrow.S_TOPIC_UNAPPROVED or topicrow.S_POSTS_UNAPPROVED -->
			<a href="{topicrow.U_MCP_QUEUE}">{topicrow.UNAPPROVED_IMG}</a>&nbsp;
			<!-- ENDIF -->
			<!-- IF topicrow.S_TOPIC_REPORTED -->
			<a href="{topicrow.U_MCP_REPORT}">{REPORTED_IMG}</a>
			<!-- ENDIF --></span></td>
	</tr>
</table>

<hr />
<table cellspacing="0">
	<tr class="row1">
		<td><p class="topicauthor">{L_AUTHOR}: {topicrow.TOPIC_AUTHOR_FULL} <br /> {topicrow.VIEWS} {L_VIEWS} with {topicrow.REPLIES} {L_REPLIES}</p>
			<!-- IF topicrow.PAGINATION -->
			<p class="gensmall"> [ {GOTO_PAGE_IMG}{L_GOTO_PAGE}: {topicrow.PAGINATION} ] </p>
			<!-- ENDIF -->
			<p class="topicdetails">{L_POST_BY_AUTHOR} {topicrow.LAST_POST_AUTHOR_FULL}</p>
			<p class="topicdetails">{topicrow.LAST_POST_TIME} <a href="{topicrow.U_LAST_POST}">{LAST_POST_IMG}</a></p></td>
	</tr>
</table>

<!-- IF not topicrow.S_LAST_ROW -->
<hr />
<table cellspacing="0">
	<tr>
		<td class="spacer"></td>
	</tr>
</table>
<!-- ENDIF -->

<!-- ENDIF -->

<!-- BEGINELSE -->
<hr />
<table cellspacing="0">
	<!-- IF S_IS_POSTABLE -->
	<tr class="row1">
		<td class="gen" align="center"><!-- IF not S_SORT_DAYS -->{L_NO_TOPICS}<!-- ELSE -->{L_NO_TOPICS_TIME_FRAME}<!-- ENDIF --></td>
	</tr>
</table>
<!-- END topicrow -->

<!-- ENDIF -->

<!-- IF S_DISPLAY_POST_INFO or TOTAL_TOPICS -->
<hr />
<table cellspacing="0">
		<!-- IF S_DISPLAY_POST_INFO and not S_IS_BOT -->
	<tr>
		<td colspan="2">
			<a href="{U_POST_NEW_TOPIC}"><strong>{L_POST_NEW_TOPIC}</strong></a>
		<p class="gensmall" align="center">
		<!-- IF TOTAL_TOPICS -->
			<!-- INCLUDE pagination.html --><br />
		<!-- ENDIF -->
			{PAGE_NUMBER}&nbsp;[ {TOTAL_TOPICS} ]</p>
		</td>
	</tr>
		<!-- ENDIF -->
	<tr>
		<td width="50%"><!-- IF S_WATCH_FORUM_LINK and not S_IS_BOT --><a href="{S_WATCH_FORUM_LINK}"><strong>{S_WATCH_FORUM_TITLE}</strong></a><!-- ENDIF --></td>
		<td width="50%" align="{S_CONTENT_FLOW_END}"><!-- IF not S_IS_BOT and U_MARK_TOPICS --><a href="{U_MARK_TOPICS}"><strong>{L_MARK_TOPICS_READ}</strong></a><!-- ENDIF --></td>
	</tr>
</table>
<!-- ENDIF -->

<table cellspacing="0">
	<tr>
		<td align="center">
			<form method="post" action="{S_FORUM_ACTION}"><span class="gensmall">{L_DISPLAY_TOPICS}:</span> {S_SELECT_SORT_DAYS}<br /><br /><span class="gensmall">{L_SORT_BY}</span> {S_SELECT_SORT_KEY} {S_SELECT_SORT_DIR}<br /><br /><input class="btnlite" type="submit" name="sort" value="{L_GO}" /></form>
		</td>
	</tr>
</table>

<!-- IF S_DISPLAY_ONLINE_LIST -->
<hr />
<table cellspacing="0">
	<tr class="row2">
		<td class="gensmall">{LOGGED_IN_USER_LIST}</td>
	</tr>
</table>
<!-- ENDIF -->

<hr />
<br />
<!-- INCLUDE breadcrumbs.html -->
<hr />
<table cellspacing="0">
	<tr>
		<td align="center"><!-- IF S_DISPLAY_SEARCHBOX --><!-- INCLUDE searchbox.html --><!-- ENDIF --><!-- INCLUDE jumpbox.html --></td>
	</tr>
</table>

<!-- INCLUDE overall_footer.html -->