<!-- INCLUDE overall_header.html -->

<!-- IF S_USER_LOGGED_IN -->
<hr />
<table cellspacing="0">
	<tr class="gensmall">
         <!-- IF S_DISPLAY_SEARCH -->
         <td width="50%"><a href="{U_SEARCH_UNREAD}">{L_SEARCH_UNREAD}</a><br />
		 	<a href="{U_SEARCH_NEW}">{L_SEARCH_NEW}</a><br />
            <a href="{U_SEARCH_UNANSWERED}">{L_SEARCH_UNANSWERED}</a>
         </td>
         <td width="50%" align="{S_CONTENT_FLOW_END}"><a href="{U_SEARCH_ACTIVE_TOPICS}">{L_SEARCH_ACTIVE_TOPICS}</a><br />
            <a href="{U_SEARCH_SELF}">{L_SEARCH_SELF}</a><br />
			<!-- IF not S_IS_BOT and U_MARK_FORUMS -->
			<a href="{U_MARK_FORUMS}">{L_MARK_FORUMS_READ}</a>
			<!-- ENDIF -->
         </td>
         <!-- ENDIF -->
	</tr>
</table>
<!-- ELSE -->
<hr />
<br />
<!-- ENDIF -->

<!-- INCLUDE forumlist_body.html -->

<hr />
<table cellspacing="0">
	<tr>
		<td class="gensmall" align="center"><strong><!-- IF not S_IS_BOT --><a href="{U_DELETE_COOKIES}">Delete cookies</a><!-- ENDIF --> | <a href="{U_TEAM}">{L_THE_TEAM}</a><!-- IF not S_IS_BOT and U_MARK_FORUMS --> | <a href="{U_MARK_FORUMS}">{L_MARK_FORUMS_READ}</a><!-- ENDIF --></strong></td>
	</tr>
</table>

<!-- INCLUDE breadcrumbs.html -->
<hr />
<br />

<!-- IF not S_USER_LOGGED_IN -->
<form method="post" action="{S_LOGIN_ACTION}">
<hr />
<table cellspacing="0">
	<tr>
		<th><a href="{U_LOGIN_LOGOUT}">{L_LOGIN_LOGOUT}</a></th>
	</tr>
</table>

<hr />
<table cellspacing="0">
	<tr>
		<td class="row1" align="center"><span class="genmed">{L_USERNAME}:</span> <input class="post" type="text" name="username" size="10" /> <br /> <span class="genmed">{L_PASSWORD}:</span> <input class="post" type="password" name="password" size="10" /> <br /> <!-- IF S_AUTOLOGIN_ENABLED --> <span class="gensmall">{L_LOG_ME_IN}</span> <input type="checkbox" class="radio" name="autologin" /><!-- ENDIF --></td>
	</tr>
</table>

<hr />
<table cellspacing="0">
	<tr>
		<td class="row3" align="center"><input type="submit" class="btnmain" name="login" value="{L_LOGIN}" /></td>
	</tr>
</table>
{S_FORM_TOKEN}
</form>
<hr />
<br />
<!-- ENDIF -->

<!-- IF S_DISPLAY_BIRTHDAY_LIST and BIRTHDAY_LIST -->
<hr />
<table cellspacing="0">
	<tr>
		<th>{L_BIRTHDAYS}</th>
	</tr>
</table>

<hr />
<table cellspacing="0">
	<tr class="row1">
		<td class="genmed"><!-- IF BIRTHDAY_LIST -->{L_CONGRATULATIONS}: <b>{BIRTHDAY_LIST}</b><!-- ELSE -->{L_NO_BIRTHDAYS}<!-- ENDIF --></td>
	</tr>
</table>

<hr />
<br />
<!-- ENDIF -->

<!-- IF S_DISPLAY_ONLINE_LIST -->
<hr />
<table cellspacing="0">
	<tr>
		<th><!-- IF U_VIEWONLINE --><a href="{U_VIEWONLINE}">{L_WHO_IS_ONLINE}</a><!-- ELSE -->{L_WHO_IS_ONLINE}<!-- ENDIF --></th>
	</tr>
</table>
<hr />
<table cellspacing="0">
	<tr class="row1">
		<td class="genmed">{TOTAL_USERS_ONLINE}<br />{LOGGED_IN_USER_LIST}</td>
	</tr>
</table>

<!-- IF LEGEND -->
<hr />
<table cellspacing="0">
	<tr class="row2">
		<td class="gensmall">{L_LEGEND}: <strong>{LEGEND}</strong></td>
	</tr>
</table>
<!-- ENDIF -->

<hr />
<br />
<!-- ENDIF -->

<hr />
<table cellspacing="0">
	<tr>
		<th>{L_STATISTICS}</th>
	</tr>
</table>

<hr />
<table cellspacing="0">
	<tr class="row1">
		<td class="genmed">{RECORD_USERS} :: {TOTAL_POSTS} :: {TOTAL_TOPICS} :: {TOTAL_USERS} :: {NEWEST_USER}</td>
	</tr>
</table>

<hr />
<!-- INCLUDE overall_footer.html -->