<!-- INCLUDE overall_header.html -->

<form action="{S_LOGIN_ACTION}" method="post">

	<!-- IF not S_ADMIN_AUTH -->
<hr />
<br />

<hr />
<table cellspacing="0">
	<tr>
		<th>{L_LOGIN}</th>
	</tr>
</table>
	<!-- ELSE -->
<hr />
<br />

<hr />
<table cellspacing="0">
	<tr>
		<th>{LOGIN_EXPLAIN}</th>
	</tr>
</table>
	<!-- ENDIF -->

<!-- IF LOGIN_EXPLAIN && not S_ADMIN_AUTH -->
<hr />
<table cellspacing="0">
	<tr class="row2">
		<td>{LOGIN_EXPLAIN}</td>
	</tr>
</table>
<!-- ENDIF -->

<!-- IF not S_ADMIN_AUTH and S_REGISTER_ENABLED -->
<hr />
<table cellspacing="0">
	<tr class="row2">
		<td>{L_LOGIN_INFO}</td>
	</tr>
</table>
	<!-- ENDIF -->

		<!-- IF LOGIN_ERROR -->
<hr />
<table cellspacing="0">
	<tr>
		<td class="row2" class="gensmall" align="center">
			<span class="error">{LOGIN_ERROR}</span>
		</td>
	</tr>
</table>
		<!-- ENDIF -->

<hr />
<table cellspacing="0">
	<tr class="row1">
		<td>
<table cellspacing="0">
	<tr>
		<td align="center">
			<a href="{U_TERMS_USE}">{L_TERMS_USE}</a> | <a href="{U_PRIVACY}">{L_PRIVACY}</a>
		</td>
	</tr>
		<!-- IF not S_ADMIN_AUTH -->
	<tr>
		<td align="center">
			<a class="gensmall" href="{U_REGISTER}">{L_REGISTER}</a>
		</td>
	</tr>
		<!-- ENDIF -->
	<tr>
		<td align="center">
			<b class="genmed">{L_USERNAME}: </b><input class="post" type="text" name="{USERNAME_CREDENTIAL}" size="25" value="{USERNAME}" tabindex="1" />
		</td>
	</tr>
	<tr>
		<td align="center">
			<b class="genmed">{L_PASSWORD}: </b><input class="post" type="password" name="{PASSWORD_CREDENTIAL}" size="25" tabindex="2" />
		</td>
	</tr>
	<tr>
		<td align="center">
			<!-- IF U_SEND_PASSWORD --><a class="gensmall" href="{U_SEND_PASSWORD}">{L_FORGOT_PASS}</a><!-- ENDIF -->
			<!-- IF U_RESEND_ACTIVATION and not S_ADMIN_AUTH --><br /><a class="gensmall" href="{U_RESEND_ACTIVATION}">{L_RESEND_ACTIVATION}</a><!-- ENDIF -->
		</td>
	</tr>
<!-- IF S_DISPLAY_FULL_LOGIN -->
	<!-- IF S_AUTOLOGIN_ENABLED -->
	<tr>
		<td align="center">
			<input type="checkbox" class="radio" name="autologin" tabindex="3" /> <span class="gensmall">{L_LOG_ME_IN}</span>
		</td>
	</tr>
	<!-- ENDIF -->
	<tr>
		<td>
			<input type="checkbox" class="radio" name="viewonline" tabindex="4" /> <span class="gensmall">{L_HIDE_ME}</span>
		</td>
	</tr>
		<!-- ENDIF -->

<!-- IF S_CONFIRM_CODE -->
	<tr> 
		<td align="center">{L_LOGIN_CONFIRMATION}</td>
	</tr>
	<tr> 
		<td align="center">
			<span class="gensmall">{L_LOGIN_CONFIRM_EXPLAIN}</span>
		</td>
	</tr>
	<tr>
		<td align="center">
			<input type="hidden" name="confirm_id" value="{CONFIRM_ID}" />
			{CONFIRM_IMAGE}
		</td>
	</tr>
	<tr> 
		<td align="center">
			<b class="genmed">{L_CONFIRM_CODE}: </b><input class="post" type="text" name="confirm_code" size="8" maxlength="8" /><br /><span class="gensmall">{L_CONFIRM_CODE_EXPLAIN}</span>
		</td>
	</tr>
<!-- ENDIF -->
</table>
		</td>
	</tr>
</table>

<hr />
<table cellspacing="0">
	<tr class="cat">
		<td align="center">
			{S_HIDDEN_FIELDS}<input type="submit" name="login" class="btnmain" value="{L_LOGIN}" tabindex="5" />
		</td>
	</tr>
</table>
<hr />
<br />
{S_FORM_TOKEN}

</form>

<!-- INCLUDE breadcrumbs.html -->

<hr />
<div align="center"><!-- INCLUDE jumpbox.html --></div>

<br />

<!-- INCLUDE overall_footer.html -->