<!-- INCLUDE overall_header.html -->

<hr />
<br />

<div id="pagecontent">

	<form name="confirm" action="{S_CONFIRM_ACTION}" method="post">
	
<hr />
<table cellspacing="0">
	<tr>
		<th>{MESSAGE_TITLE}</th>
	</tr>
</table>

<hr />
<table cellspacing="0">
	<tr>
		<td class="row1" align="center">
			<!-- IF ADDITIONAL_MSG -->
				<span class="gen error">{ADDITIONAL_MSG}</span><br />
			<!-- ENDIF -->
			<!-- IF S_FORUM_SELECT -->
				<span class="gen"><br />{L_SELECT_DESTINATION_FORUM}&nbsp;&nbsp;</span>
					<select name="to_forum_id">{S_FORUM_SELECT}</select><br />
				<!-- IF S_CAN_LEAVE_SHADOW -->
					<input type="checkbox" class="radio" name="move_leave_shadow" checked="checked" /><span class="gen">{L_LEAVE_SHADOW}</span><br />
				<!-- ENDIF -->
				<br />{S_HIDDEN_FIELDS}<span class="gen">{MESSAGE_TEXT}</span><br /><br />
				<input type="submit" name="confirm" value="{YES_VALUE}" class="btnmain" />&nbsp;&nbsp;<input type="submit" name="cancel" value="{L_NO}" class="btnlite" />
			<!-- ELSE -->
				<span class="gen">{L_NO_DESTINATION_FORUM}</span><br /><br />
					{S_HIDDEN_FIELDS}
					<input type="submit" name="cancel" value="{L_CANCEL}" class="btnlite" />
			<!-- ENDIF -->
		</td>
	</tr>
</table>
	{S_FORM_TOKEN}	
	</form>
	
</div>

<hr />
<br clear="all" />

<!-- INCLUDE breadcrumbs.html -->
<hr />

<!-- INCLUDE overall_footer.html -->
