<!-- INCLUDE mcp_header.html -->

<!-- IF S_SHOW_UNAPPROVED -->
	<form name="mcp_queue" method="post" action="{S_MCP_QUEUE_ACTION}">
<hr />
<br />

<hr />
<table cellspacing="0">
	<tr>
		<th>{L_LATEST_UNAPPROVED}</th>
	</tr>
</table>
	<!-- BEGIN unapproved -->
<hr />
<table cellspacing="0">
	<tr>
		<td class="row2"><span class="gen"><!-- IF unapproved.U_FORUM --><a href="{unapproved.U_FORUM}">{unapproved.FORUM_NAME}</a><!-- ELSE -->{unapproved.FORUM_NAME}<!-- ENDIF --></span></td>
	</tr>
</table>

<hr />
<table cellspacing="0">
	<tr>
		<td class="row1"><!-- IF unapproved.U_MCP_FORUM --><span class="gensmall">[ <a href="{unapproved.U_MCP_FORUM}">{L_MODERATE}</a> ]</span><!-- ENDIF -->
			<p><span class="genmed"><a href="{unapproved.U_TOPIC}">{unapproved.TOPIC_TITLE}</a></span><br /><span class="gensmall">[ <a href="{unapproved.U_MCP_TOPIC}">{L_MODERATE}</a> ]</span></p>
			<p><span class="genmed">{unapproved.SUBJECT}</span><br />
				<span class="gensmall">[ <a href="{unapproved.U_POST_DETAILS}">{L_VIEW_DETAILS}</a> ]</span></p>
			<p><span class="genmed">{unapproved.AUTHOR_FULL}</span></p>
			<p><span class="gensmall">{unapproved.POST_TIME}</span></p>
			<p><input type="checkbox" class="radio" name="post_id_list[]" value="{unapproved.POST_ID}" /></p></td>
	</tr>
</table>
	<!-- BEGINELSE -->
<hr />
<table cellspacing="0">
	<tr>
		<td class="row2" align="center"><span class="gen">{L_UNAPPROVED_POSTS_ZERO_TOTAL}</span></td>
	</tr>
</table>
<!-- END unapproved -->

<!-- IF S_HAS_UNAPPROVED_POSTS -->
<hr />
<table cellspacing="0">
	<tr>
		<td class="row2"><span class="gensmall">{L_UNAPPROVED_TOTAL}</span></td>
	</tr>
</table>
<!-- ENDIF -->

<hr />
<table cellspacing="0">
	<tr>
		<td class="cat" align="center"><input class="btnmain" type="submit" name="action[approve]" value="{L_APPROVE}" />&nbsp;&nbsp;<input class="btnlite" type="submit" name="action[disapprove]" value="{L_DISAPPROVE}" /></td>
	</tr>
</table>
	{S_FORM_TOKEN}
	</form>
	
<hr />
<table cellspacing="0">
	<tr>
		<td align="center"><b class="gensmall"><a href="#" onclick="marklist('mcp_queue', '', true); return false;">{L_MARK_ALL}</a> :: <a href="#" onclick="marklist('mcp_queue', '', false); return false;">{L_UNMARK_ALL}</a></b></td>
	</tr>
</table>

<!-- ENDIF -->

<!-- IF S_SHOW_REPORTS -->
<hr />
<table cellspacing="0">
	<tr>
		<th>{L_LATEST_REPORTED}</th>
	</tr>
</table>
	<!-- BEGIN report -->
<hr />
<table cellspacing="0">
	<tr>
		<td class="row2"><span class="gen"><!-- IF report.U_FORUM --><a href="{report.U_FORUM}">{report.FORUM_NAME}</a><!-- ELSE -->{report.FORUM_NAME}<!-- ENDIF --></span></td>
	</tr>
</table>

<hr />
<table cellspacing="0">
	<tr>
		<td class="row1"><!-- IF report.U_MCP_FORUM --><span class="gensmall">[ <a href="{report.U_MCP_FORUM}">{L_MODERATE}</a> ]</span><!-- ENDIF -->
			<p><span class="genmed"><a href="{report.U_TOPIC}">{report.TOPIC_TITLE}</a></span><br />
			<span class="gensmall">[ <a href="{report.U_MCP_TOPIC}">{L_MODERATE}</a> ]</span></p>
			<p><span class="genmed">{report.SUBJECT}</span><br />
			<span class="gensmall">[ <a href="{report.U_POST_DETAILS}">{L_VIEW_DETAILS}</a> ]</span></p>
			<p><span class="genmed">{report.REPORTER_FULL}</span></td>
			<p><span class="gensmall">{report.REPORT_TIME}</span></p></td>
	</tr>
</table>
<!-- IF not report.S_LAST_ROW -->
<hr />
<table cellspacing="0">
	<tr>
		<td class="spacer"></td>
	</tr>
</table>
<!-- ENDIF -->
<!-- BEGINELSE -->
<hr />
<table cellspacing="0">
	<tr>
		<td class="row2" align="center"><span class="gen">{L_REPORTS_ZERO_TOTAL}</span></td>
	</tr>
</table>
<!-- END report -->
<!-- IF S_HAS_REPORTS -->
<hr />
<table cellspacing="0">
	<tr>
		<td class="row2">
			<span class="gensmall">{L_REPORTS_TOTAL}</span>
		</td>
	</tr>
</table>
<!-- ENDIF -->

<hr />
<br clear="all" />
<!-- ENDIF -->

<!-- IF S_SHOW_LOGS -->
<hr />
<table cellspacing="0">
	<tr>
		<th>{L_LATEST_LOGS}</th>
	</tr>
</table>
	<!-- BEGIN log -->
<hr />
<table cellspacing="0">
	<tr>
		<td class="row2"><span class="genmed">{L_POST_BY_AUTHOR} {log.USERNAME}</span></td>
	</tr>
</table>

<hr />
<table cellspacing="0">
	<tr>
		<td class="row1"><span class="genmed">{log.IP}</span>
			<p><span class="gensmall">{log.ACTION}</span></p>
			<p><span class="gensmall">{log.TIME}</span></p>
			<p><span class="gensmall"><!-- IF log.U_VIEW_TOPIC --><a href="{log.U_VIEW_TOPIC}">{L_VIEW_TOPIC}</a><!-- IF log.U_VIEWLOGS --> | <!-- ENDIF --><!-- ENDIF --><!-- IF log.U_VIEWLOGS --><a href="{log.U_VIEWLOGS}">{L_VIEW_TOPIC_LOGS}</a><!-- ENDIF --></span></p></td>
	</tr>
</table>
<!-- IF not log.S_LAST_ROW -->
<hr />
<table cellspacing="0">
	<tr>
		<td class="spacer"></td>
	</tr>
</table>
<!-- ENDIF -->
	<!-- BEGINELSE -->
<hr />
<table cellspacing="0">
	<tr>
		<td class="row2" align="center"><span class="gen">{L_NO_ENTRIES}</span></td>
	</tr>
</table>
	<!-- END log -->

<hr />
<!-- ENDIF -->

<!-- INCLUDE mcp_footer.html -->