<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="{S_CONTENT_DIRECTION}" lang="{S_USER_LANG}" xml:lang="{S_USER_LANG}">
<head>
<meta name="viewport" content="width=320">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta http-equiv="content-type" content="text/html; charset={S_CONTENT_ENCODING}" />
<meta http-equiv="content-language" content="{S_USER_LANG}" />
<meta http-equiv="content-style-type" content="text/css" />
<meta http-equiv="imagetoolbar" content="no" />
<meta name="resource-type" content="document" />
<meta name="distribution" content="global" />
<meta name="copyright" content="2000, 2002, 2005, 2007 phpBB Group" />
<meta name="keywords" content="" />
<meta name="description" content="" />
{META}
<title>{PAGE_TITLE} &bull; <!-- IF S_IN_MCP -->{L_MCP} &bull; <!-- ELSEIF S_IN_UCP -->{L_UCP} &bull; <!-- ENDIF -->{SITENAME}</title>

<link rel="stylesheet" href="{T_STYLESHEET_LINK}" type="text/css" />

<script type="text/javascript">
// <![CDATA[
<!-- IF S_USER_PM_POPUP -->
	if ({S_NEW_PM})
	{
		popup('{UA_POPUP_PM}', 225, 225, '_phpbbprivmsg');
	}
<!-- ENDIF -->

function popup(url, width, height, name)
{
	if (!name)
	{
		name = '_popup';
	}

	window.open(url.replace(/&amp;/g, '&'), name, 'height=' + height + ',resizable=yes,scrollbars=yes,width=' + width);
	return false;
}

function jumpto()
{
	var page = prompt('{LA_JUMP_PAGE}:', '{ON_PAGE}');
	var perpage = '{PER_PAGE}';
	var base_url = '{A_BASE_URL}';

	if (page !== null && !isNaN(page) && page > 0)
	{
		document.location.href = base_url.replace(/&amp;/g, '&') + '&start=' + ((page - 1) * perpage);
	}
}

/**
* Find a member
*/
function find_username(url)
{
	popup(url, 225, 225, '_usersearch');
	return false;
}

/**
* Mark/unmark checklist
* id = ID of parent container, name = name prefix, state = state [true/false]
*/
function marklist(id, name, state)
{
	var parent = document.getElementById(id);
	if (!parent)
	{
		eval('parent = document.' + id);
	}

	if (!parent)
	{
		return;
	}

	var rb = parent.getElementsByTagName('input');
	
	for (var r = 0; r < rb.length; r++)
	{
		if (rb[r].name.substr(0, name.length) == name)
		{
			rb[r].checked = state;
		}
	}
}

<!-- IF ._file -->

	/**
	* Play quicktime file by determining it's width/height
	* from the displayed rectangle area
	*
	* Only defined if there is a file block present.
	*/
	function play_qt_file(obj)
	{
		var rectangle = obj.GetRectangle();

		if (rectangle)
		{
			rectangle = rectangle.split(',')
			var x1 = parseInt(rectangle[0]);
			var x2 = parseInt(rectangle[2]);
			var y1 = parseInt(rectangle[1]);
			var y2 = parseInt(rectangle[3]);

			var width = (x1 < 0) ? (x1 * -1) + x2 : x2 - x1;
			var height = (y1 < 0) ? (y1 * -1) + y2 : y2 - y1;
		}
		else
		{
			var width = 200;
			var height = 0;
		}

		obj.width = width;
		obj.height = height + 16;

		obj.SetControllerVisible(true);

		obj.Play();
	}
<!-- ENDIF -->

    window.onload = resizeimg;
    function resizeimg()
    {
       if (document.getElementsByTagName)
       {
          for (i=0; i<document.getElementsByTagName('img').length; i++)
          {
             im = document.getElementsByTagName('img')[i];
             if (im.width > 225)
             {
                im.style.width = '100%';
             }
          }
       }
    }

// ]]>
</script>
<!-- Google Fonts -->

<link href='http://fonts.googleapis.com/css?family=Francois One' rel='stylesheet' type='text/css' /><link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css' />
</head>
<body class="{S_CONTENT_DIRECTION}">

<a name="top"></a>

<hr />
<table cellspacing="0">
	<tr>
		<td class="header" align="center" valign="middle"><a class="nav" href="{U_INDEX}">{SITE_LOGO_IMG}</a></td>
	</tr>
</table>

<hr />
<table cellspacing="0">
	<tr>
		<td class="gensmall" style="padding: 4px" align="center"><table width="100%" border="0" cellspacing="0" cellpadding="0">
 <tr>
  <td align="center"><a href="http://dangerousprototypes.com"><b>Blog</b></a>&nbsp;&middot;&nbsp;<a href="http://dangerousprototypes.com/docs/Main_Page#Projects"><b>Projects</b></a>&nbsp;&middot;&nbsp;<a href="http://dangerousprototypes.com/forum"><b>Forum</b></a>&nbsp;&middot;&nbsp;<a href="http://dangerousprototypes.com/about"><b>About</b></a>&nbsp;&middot;&nbsp;<a href="http://dangerousprototypes.com/contact"><b>Contact</b></a>&nbsp;&middot;&nbsp;<a href="http://www.seeedstudio.com/depot/wherelabs-m-9.html"><b>Shop</b></a>&nbsp;&middot;&nbsp;<a href="http://dangerousprototypes.com/store/"><b>Free PCBs</b></a>
   </td>
  
 </tr>
</table>
</td>
	</tr>
</table>

<hr />
<!-- IF SCRIPT_NAME == "index" -->
<table cellspacing="0">
	<tr>
		<td class="welcome"><!-- IF S_USER_LOGGED_IN -->Hello {S_USERNAME}, Welcome Back!<!-- ELSE -->Hello Mobile Device User!<!-- ENDIF --></td>
	</tr>
</table>

<hr />
<table cellspacing="0">
	<tr class="row2">
		<td align="{S_CONTENT_FLOW_BEGIN}">
			<!-- IF not S_IS_BOT --><a class="nowrap" href="{U_LOGIN_LOGOUT}">{L_LOGIN_LOGOUT}</a><!-- ENDIF -->
			<!-- IF U_RESTORE_PERMISSIONS --><br /><a class="nowrap" href="{U_RESTORE_PERMISSIONS}">{L_RESTORE_PERMISSIONS}</a><!-- ENDIF -->
			<!-- IF S_BOARD_DISABLED and S_USER_LOGGED_IN --><br /><span style="color: red;">{L_BOARD_DISABLED}</span><!-- ENDIF -->
		</td>
		<td align="{S_CONTENT_FLOW_END}">
<!-- IF not S_IS_BOT and S_USER_LOGGED_IN -->
	<!-- IF S_DISPLAY_PM -->
		<!-- IF S_USER_NEW_PRIVMSG or PRIVATE_MESSAGE_INFO_UNREAD -->
			<!-- IF S_USER_NEW_PRIVMSG -->
			<a class="newpm" href="{U_PRIVATEMSGS}"><blink>{PRIVATE_MESSAGE_INFO}</blink></a>
			<!-- ELSE -->
			<a class="unreadpm" href="{U_PRIVATEMSGS}">{PRIVATE_MESSAGE_INFO_UNREAD}</a>
			<!-- ENDIF -->
		<!-- ELSE -->
			<a href="{U_PRIVATEMSGS}">{PRIVATE_MESSAGE_INFO}</a>
		<!-- ENDIF -->
	<!-- ENDIF -->
<!-- ELSE -->
		<!-- IF S_REGISTER_ENABLED -->
			<a href="{U_REGISTER}">{L_REGISTER}</a>
		<!-- ENDIF -->
<!-- ENDIF -->
		</td>
	</tr>
</table>

<hr />
<table cellspacing="0">
	<tr>
		<td class="row1" class="small" align="center">{CURRENT_TIME}<!-- IF S_USER_LOGGED_IN --><br />{LAST_VISIT_DATE}<!-- ENDIF --></td>
	</tr>
</table>
<!-- ENDIF -->

<hr />
<table cellspacing="0">
	<tr>
		<td class="genmed" align="center">
			<a href="{U_FAQ}">{L_FAQ}</a>
			<!-- IF S_DISPLAY_SEARCH --> &middot; <a href="{U_SEARCH}">{L_SEARCH}</a><!-- ENDIF -->
		<!-- IF not S_IS_BOT and S_USER_LOGGED_IN -->
			<!-- IF S_DISPLAY_MEMBERLIST --> &middot; <a href="{U_MEMBERLIST}">{L_MEMBERLIST}</a><!-- ENDIF --><br />
			<a href="{U_PROFILE}">UCP</a>
			<!-- IF U_MCP --> &middot; <a href="{U_MCP}">MCP</a><!-- ENDIF -->
			<!-- IF U_ACP --> &middot; <a href="{U_ACP}">ACP</a><!-- ENDIF -->
		<!-- ENDIF -->
		</td>
	</tr>
</table>

<!-- INCLUDE breadcrumbs.html -->
