<!-- IF S_PRIVMSGS -->
	<!-- INCLUDE ucp_header.html -->
<!-- ELSE -->
	<!-- INCLUDE overall_header.html -->
<!-- ENDIF -->

<hr />

<!-- IF not S_PRIVMSGS -->
<div id="pageheader">
<table cellspacing="0">
	<tr>
		<td>
		<h3><!-- IF TOPIC_TITLE --><a class="titles" href="{U_VIEW_TOPIC}">{TOPIC_TITLE}</a><!-- ELSE --><a class="titles" href="{U_VIEW_FORUM}">{FORUM_NAME}</a><!-- ENDIF --></h3>

		<!-- IF MODERATORS -->
			<p class="moderators">{L_MODERATORS}: {MODERATORS}</p>
		<!-- ENDIF -->
		</td>
	</tr>
</table>			
</div>
<!-- ENDIF -->

<!-- IF not S_SHOW_PM_BOX -->
	<form action="{S_POST_ACTION}" method="post" name="postform"{S_FORM_ENCTYPE}>
<!-- ENDIF -->

<!-- IF S_DRAFT_LOADED -->
<hr />
<table cellspacing="0">
	<tr>
		<th align="center">{L_INFORMATION}</th>
	</tr>
</table>
<hr />
<table cellspacing="0">
	<tr>
		<td class="row1 gen" align="center"><!-- IF S_PRIVMSGS -->{L_DRAFT_LOADED_PM}<!-- ELSE -->{L_DRAFT_LOADED}<!-- ENDIF --></td>
	</tr>
</table>
<!-- ENDIF -->

<!-- IF S_SHOW_DRAFTS -->
<hr />
<table cellspacing="0">
	<tr>
		<th align="center">{L_LOAD_DRAFT}</th>
	</tr>
</table>
<hr />
<table cellspacing="0">
	<tr>
		<td class="row1 gen" align="center">{L_LOAD_DRAFT_EXPLAIN}</td>
	</tr>
</table>
	<!-- BEGIN draftrow -->
<hr />
<table cellspacing="0">
	<!-- IF draftrow.S_ROW_COUNT is even --><tr class="row1"><!-- ELSE --><tr class="row2"><!-- ENDIF -->
		<td class="postdetails" style="padding: 4px;">{draftrow.DATE}<br />
		<b class="gen">{draftrow.DRAFT_SUBJECT}</b>
			<!-- IF draftrow.S_LINK_TOPIC --><br /><span class="gensmall">{L_TOPIC}: <a href="{draftrow.U_VIEW}">{draftrow.TITLE}</a></span>
			<!-- ELSEIF draftrow.S_LINK_FORUM --><br /><span class="gensmall">{L_FORUM}: <a href="{draftrow.U_VIEW}">{draftrow.TITLE}</a></span>
			<!-- ELSEIF draftrow.S_LINK_PM --><br /><span class="gensmall">{L_PRIVATE_MESSAGE}</span>
			<!-- ELSE --><br /><span class="gensmall">{L_NO_TOPIC_FORUM}</span><!-- ENDIF -->
		<span class="gen"><a href="{draftrow.U_INSERT}">{L_LOAD_DRAFT}</a>
		</td>
	</tr>
</table>
	<!-- END draftrow -->
<!-- ENDIF -->

<!-- IF S_POST_REVIEW --><!-- INCLUDE posting_review.html --><!-- ENDIF -->
<!-- IF S_DISPLAY_PREVIEW --><!-- INCLUDE posting_preview.html --><!-- ENDIF -->

<!-- IF not S_PRIVMSGS and S_UNGLOBALISE -->
<hr />
<table cellspacing="0">
	<tr>
		<th>{L_MOVE}</th>
	</tr>
</table>
<hr />
<table cellspacing="0">
	<tr>
		<td class="row1" align="center"><span class="gen">{L_UNGLOBALISE_EXPLAIN}<br /><br />{L_SELECT_DESTINATION_FORUM}&nbsp;&nbsp;</span><select name="to_forum_id">{S_FORUM_SELECT}</select><br /><br /><input class="btnmain" type="submit" name="post" value="{L_CONFIRM}" />&nbsp;&nbsp; <input class="btnlite" type="submit" name="cancel_unglobalise" value="{L_CANCEL}" /></td>
	</tr>
</table>
<!-- ENDIF -->

<br />

<hr />
<table cellspacing="0">
	<tr>
		<th><b>{L_POST_A}</b></th>
	</tr>
</table>

<!-- IF ERROR -->
<hr />
<table cellspacing="0">
	<tr>
		<td class="row2 genmed error" align="center">{ERROR}</td>
	</tr>
</table>
<!-- ENDIF -->

<!-- IF S_DELETE_ALLOWED -->
<hr />
<table cellspacing="0">
	<tr>
		<td class="row1"><strong class="genmed">{L_DELETE_POST}</strong> <input type="checkbox" class="radio" name="delete" /><br />
			<span class="gensmall">[ {L_DELETE_POST_WARN} ]</span></td>
	</tr>
</table>
<!-- ENDIF -->

<!-- IF not S_PRIVMSGS and S_DISPLAY_USERNAME -->
<hr />
<table cellspacing="0">
	<tr>
		<td class="row2 genmed"><strong>{L_USERNAME}</strong></td>
	</tr>
	<tr>
		<td class="row2"><input class="post" type="text" tabindex="1" name="username" size="25" value="{USERNAME}" /></td>
	</tr>
<!-- ENDIF -->

<!-- IF S_PRIVMSGS -->
<hr />
<table cellspacing="0">
	<tr>
		<td class="row2 genmed"><strong>{L_TO}</strong></td>
	</tr>
	<tr>
		<td class="row2">
			{S_HIDDEN_ADDRESS_FIELD}
		<!-- BEGIN to_recipient -->
			<span style="display: block; float: {S_CONTENT_FLOW_BEGIN};" class="nowrap genmed"><strong>
			<!-- IF to_recipient.IS_GROUP --><a href="{to_recipient.U_VIEW}"><span class="sep">{to_recipient.NAME}</span></a><!-- ELSE -->{to_recipient.NAME_FULL}<!-- ENDIF --></strong>&nbsp;<!-- IF not S_EDIT_POST --><input class="post" type="submit" name="remove_{to_recipient.TYPE}[{to_recipient.UG_ID}]" value="{L_REMOVE}" />&nbsp;<!-- ENDIF -->
			</span>
		<!-- BEGINELSE -->
			<span class="genmed">{L_NO_TO_RECIPIENT}</span>
		<!-- END to_recipient -->
		</td>
	</tr>
</table>
	<!-- IF S_ALLOW_MASS_PM -->
<hr />
<table cellspacing="0">
	<tr>
		<td class="row1 genmed"><strong>{L_BCC}</strong></td>
	</tr>
	<tr>
		<td class="row1">
		<!-- BEGIN bcc_recipient -->
			<span class="genmed nowrap"><strong>
			<!-- IF bcc_recipient.IS_GROUP --><a href="{bcc_recipient.U_VIEW}"><span class="sep">{bcc_recipient.NAME}</span></a><!-- ELSE -->{bcc_recipient.NAME_FULL}<!-- ENDIF --></strong>&nbsp;<!-- IF not S_EDIT_POST --><input class="post" type="submit" name="remove_{bcc_recipient.TYPE}[{bcc_recipient.UG_ID}]" value="{L_REMOVE}" />&nbsp;<!-- ENDIF -->
			</span>
		<!-- BEGINELSE -->
			<span class="genmed">{L_NO_BCC_RECIPIENT}</span>
		<!-- END bcc_recipient -->
		</td>
	</tr>
</table>
	<!-- ENDIF -->
<!-- ENDIF -->

<hr />
<table cellspacing="0">
<tr>
	<td class="row2 genmed"><strong>{L_SUBJECT}</strong></td>
</tr>
<tr>
	<td class="row2"><input class="post" style="width:98%" type="text" name="subject" size="45" tabindex="2" value="{SUBJECT}" /></td>
</tr>
</table>

		<script type="text/javascript">
		// <![CDATA[
			var form_name = 'postform';
			var text_name = 'message';
		// ]]>
		</script>

<hr />
<table cellspacing="0">
	<tr>
		<td class="row1 genmed"><strong>{L_MESSAGE}</strong></td>
</tr>
	<tr>
		<td class="row1"><textarea name="message" rows="5" cols="16" tabindex="5" onselect="storeCaret(this);" onclick="storeCaret(this);" onkeyup="storeCaret(this);" style="width: 98%;">{MESSAGE}</textarea></td>
	</tr>
</table>

<!-- IF not S_PRIVMSGS -->
<hr />
<table cellspacing="0">
	<!-- IF S_LOCK_TOPIC_ALLOWED -->
	<tr>
		<td class="row2 genmed"><input type="checkbox" class="radio" name="lock_topic"{S_LOCK_TOPIC_CHECKED} /> {L_LOCK_TOPIC}</td>
	</tr>
	<!-- ENDIF -->
	<!-- IF S_LOCK_POST_ALLOWED -->
	<tr>
		<td class="row2 genmed"><input type="checkbox" class="radio" name="lock_post"{S_LOCK_POST_CHECKED} /> {L_LOCK_POST} [{L_LOCK_POST_EXPLAIN}]</td>
	</tr>
	<!-- ENDIF -->
	<!-- IF S_TYPE_TOGGLE -->
	<tr>
		<td class="row2 gensmall">
			<strong><!-- IF S_EDIT_POST -->{L_CHANGE_TOPIC_TO}<!-- ELSE -->{L_POST_TOPIC_AS}<!-- ENDIF -->:</strong><br />
			<!-- BEGIN topic_type --><input type="radio" class="radio" name="topic_type" value="{topic_type.VALUE}"{topic_type.S_CHECKED} /> {topic_type.L_TOPIC_TYPE}&nbsp;&nbsp;<!-- END topic_type -->
		</td>
	</tr>
	<!-- ENDIF -->
</table>
<!-- ENDIF -->

<!-- IF S_INLINE_ATTACHMENT_OPTIONS -->
<hr />
<table cellspacing="0">
	<tr>
		<td class="row1 genmed"><strong>{L_ATTACHMENTS}</strong></td>
	</tr>
	<tr>
		<td class="row1"><select name="attachments">{S_INLINE_ATTACHMENT_OPTIONS}</select>&nbsp;<input type="button" class="btnbbcode" accesskey="a" value="{L_PLACE_INLINE}" name="attachinline" onclick="attach_form = document.forms[form_name].elements['attachments']; attach_inline(attach_form.value, attach_form.options[attach_form.selectedIndex].text);" onmouseover="helpline('a')" onmouseout="helpline('tip')" />
		</td>
	</tr>
</table>
<!-- ENDIF -->

<!-- IF S_EDIT_REASON -->
<hr />
<table cellspacing="0">
	<tr class="row2">
		<td>{L_EDIT_REASON}</td>
	</tr>
	<tr>
		<td class="row2"><input class="post" type="text" name="edit_reason" size="30" value="{EDIT_REASON}" /></td>
	</tr>
</table>
<!-- ENDIF -->

<hr />
<table cellspacing="0">
<!-- IF S_SIG_ALLOWED -->
	<tr class="row1">
		<td><input type="checkbox" class="radio" name="attach_sig"{S_SIGNATURE_CHECKED} /></td>
		<td class="gen">{L_ATTACH_SIG}</td>
	</tr>
<!-- ENDIF -->
<!-- IF S_BBCODE_ALLOWED -->
	<tr class="row1">
		<td><input type="checkbox" class="radio" name="disable_bbcode"{S_BBCODE_CHECKED} /></td>
		<td class="gen">{L_DISABLE_BBCODE}</td>
	</tr>
<!-- ENDIF -->
<!-- IF S_SMILIES_ALLOWED -->
	<tr class="row1">
		<td><input type="checkbox" class="radio" name="disable_smilies"{S_SMILIES_CHECKED} /></td>
		<td class="gen">{L_DISABLE_SMILIES}</td>
	</tr>
<!-- ENDIF -->
<!-- IF S_LINKS_ALLOWED -->
	<tr class="row1">
		<td><input type="checkbox" class="radio" name="disable_magic_url"{S_MAGIC_URL_CHECKED} /></td>
		<td class="gen">{L_DISABLE_MAGIC_URL}</td>
	</tr>
<!-- ENDIF -->
<!-- IF S_SIG_ALLOWED -->
	<tr class="row1">
		<td><input type="checkbox" class="radio" name="attach_sig"{S_SIGNATURE_CHECKED} /></td>
		<td class="gen">{L_ATTACH_SIG}</td>
	</tr>
<!-- ENDIF -->
<!-- IF S_NOTIFY_ALLOWED -->
	<tr class="row1">
		<td><input type="checkbox" class="radio" name="notify"{S_NOTIFY_CHECKED} /></td>
		<td class="gen">{L_NOTIFY_REPLY}</td>
	</tr>
<!-- ENDIF -->
<!-- IF not S_PRIVMSGS -->
	<!-- IF S_LOCK_TOPIC_ALLOWED -->
	<tr class="row1">
		<td><input type="checkbox" class="radio" name="lock_topic"{S_LOCK_TOPIC_CHECKED} /></td>
		<td class="gen">{L_LOCK_TOPIC}</td>
	</tr>
	<!-- ENDIF -->
	<!-- IF S_LOCK_POST_ALLOWED -->
	<tr class="row1">
		<td><input type="checkbox" class="radio" name="lock_post"{S_LOCK_POST_CHECKED} /></td>
		<td class="gen">{L_LOCK_POST} [{L_LOCK_POST_EXPLAIN}]</td>
	</tr>
	<!-- ENDIF -->
	<!-- IF S_TYPE_TOGGLE -->
	<tr class="row1">
		<td>&nbsp;</td>
		<td class="gen"><!-- IF S_EDIT_POST -->{L_CHANGE_TOPIC_TO}<!-- ELSE -->{L_POST_TOPIC_AS}<!-- ENDIF -->: <!-- BEGIN topic_type --><input type="radio" class="radio" name="topic_type" value="{topic_type.VALUE}"{topic_type.S_CHECKED} />{topic_type.L_TOPIC_TYPE}&nbsp;&nbsp;<!-- END topic_type --></td>
	</tr>
	<!-- ENDIF -->
<!-- ENDIF -->
</table>

<!-- IF S_TOPIC_TYPE_ANNOUNCE or S_TOPIC_TYPE_STICKY -->
<hr />
<br />
<hr />
<table cellspacing="0">
	<tr>
		<th><strong>{L_STICK_TOPIC_FOR}</strong></th>
	</tr>
</table>
<hr />
<table cellspacing="0">
	<tr>
		<td class="row1" class="genmed"><span class="gensmall">{L_STICKY_ANNOUNCE_TIME_LIMIT}</span><br /><span class="gensmall">{L_STICK_TOPIC_FOR_EXPLAIN}</span></td>
	</tr>
	<tr>
		<td class="row1" class="gen"><input class="post" type="text" name="topic_time_limit" size="3" maxlength="3" value="{TOPIC_TIME_LIMIT}" />&nbsp;<strong>{L_DAYS}</strong></td>
	</tr>
</table>
<!-- ENDIF -->

<hr />
<table cellspacing="0">
<tr>
	<td align="center">{S_HIDDEN_FIELDS}
		<input class="btnlite" type="submit" tabindex="10" name="preview" value="{L_PREVIEW}" />
		&nbsp; <input class="btnmain" type="submit" accesskey="s" tabindex="11" name="post" value="{L_SUBMIT}" />
		<!-- IF not S_SHOW_ATTACH_BOX and not S_SHOW_POLL_BOX -->
			<!-- IF S_SAVE_ALLOWED -->&nbsp; <input class="btnlite" type="submit" accesskey="k" tabindex="12" name="save" value="{L_SAVE}" /><!-- ENDIF -->
			<!-- IF S_HAS_DRAFTS -->&nbsp; <input class="btnlite" type="submit" accesskey="d" tabindex="13" name="load" value="{L_LOAD}" /><!-- ENDIF -->
		<!-- ENDIF -->
		&nbsp; <input class="btnlite" type="submit" accesskey="c" tabindex="14" name="cancel" value="{L_CANCEL}" />
	</td>
</tr>
</table>

<!-- IF S_CONFIRM_CODE -->
<hr />
<br />
<hr />
<table cellspacing="0">
	<tr>
		<th valign="middle">{L_POST_CONFIRMATION}</th>
	</tr>
</table>
<hr />
<table cellspacing="0">
	<tr>
		<td class="row2" class="gensmall">{L_POST_CONFIRM_EXPLAIN}</td>
	</tr>
</table>
<hr />
<table cellspacing="0">
	<tr>
		<td class="row1" align="center">
			<input type="hidden" name="confirm_id" value="{CONFIRM_ID}" />
			{CONFIRM_IMAGE}
		</td>
	</tr>
</table>
<hr />
<table cellspacing="0">
	<tr>
		<td class="row2" class="genmed"><strong>{L_CONFIRM_CODE}</strong><br /><span class="gensmall">{L_CONFIRM_CODE_EXPLAIN}</span></td>
	</tr>
</table>
<hr />
<table cellspacing="0">
	<tr class="cat">
		<td><input class="post" type="text" name="confirm_code" size="8" maxlength="8" /></td>
	</tr>
</table>
<!-- ENDIF -->

<!-- IF S_SHOW_ATTACH_BOX or S_SHOW_POLL_BOX -->
	<!-- IF S_SHOW_ATTACH_BOX --><!-- INCLUDE posting_attach_body.html --><!-- ENDIF -->
	
	<!-- IF S_SHOW_POLL_BOX -->
		<!-- INCLUDE posting_poll_body.html -->
	<!-- ELSEIF S_POLL_DELETE -->
<hr />
<table cellspacing="0">
	<tr>
		<td class="row1 genmed"><strong>{L_POLL_DELETE}:</strong></td>
	</tr>
		<tr>
			<td class="row1"><input type="checkbox" class="radio" name="poll_delete" /></td>
		</tr>
</table>
	<!-- ENDIF -->

<!-- ENDIF -->

<!-- IF S_DISPLAY_REVIEW --><!-- INCLUDE posting_topic_review.html --><!-- ENDIF -->
<!-- IF S_DISPLAY_HISTORY --><!-- INCLUDE ucp_pm_history.html --><!-- ENDIF -->

<!-- IF S_PRIVMSGS -->
	<!-- INCLUDE ucp_footer.html -->
<!-- ELSE -->
	{S_FORM_TOKEN}
	</form>

	<!-- IF S_DISPLAY_ONLINE_LIST -->
<hr />
<table cellspacing="0">
	<tr>
		<td class="row1 gensmall">{LOGGED_IN_USER_LIST}</td>
	</tr>
</table>
	<!-- ENDIF -->

	<!-- INCLUDE breadcrumbs.html -->
<hr />

<div align="center"><!-- INCLUDE jumpbox.html --></div>

	<!-- INCLUDE overall_footer.html -->
<!-- ENDIF -->