<hr />
<br />

<hr />
<table cellspacing="0">
	<tr>
		<th align="center">{L_POST_REVIEW}</th>
	</tr>
</table>

<hr />
<table cellspacing="0">
	<tr class="row1">
		<td align="center"><span class="gen">{L_POST_REVIEW_EXPLAIN}</span></td>
	</tr>
</table>

		<!-- BEGIN post_review_row -->
<hr />
<table cellspacing="0">
	<tr class="row3">
		<td class="gensmall" width="100%" valign="middle">{post_review_row.POST_SUBJECT}</td>
	</tr>
</table>

<hr />
<table cellspacing="0">
	<tr class="row2">
		<td align="{S_CONTENT_FLOW_BEGIN}" valign="top"><a id="pr{post_review_row.POST_ID}"></a>
			<table cellspacing="0" cellpadding="4" border="0">
				<tr>
					<td align="center"><b class="postauthor">{post_review_row.POST_AUTHOR_FULL}</b></td>
				</tr>
			</table>
			<table width="100%" cellspacing="0" cellpadding="0" border="0">
				<tr>
					<td>&nbsp;</td>
					<td class="gensmall" valign="middle" nowrap="nowrap"><b>{L_POST_SUBJECT}:</b>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
			</table>
		</td>
</table>

<hr />
<table cellspacing="0">
	<tr class="row12">
		<td valign="top">
			<table width="100%" cellspacing="0">
				<tr>
					<td valign="top">
						<table cellspacing="0">
							<tr>
								<td><div class="postbody">{post_review_row.MESSAGE}</div>

								<!-- IF post_review_row.S_HAS_ATTACHMENTS -->
									<br clear="all" /><br />

									<hr />
									<table cellspacing="0">
										<tr class="row3">
											<td><b class="genmed">{L_ATTACHMENTS}: </b></td>
										</tr>
									</table>
									<!-- BEGIN attachment -->
									<hr />
									<table cellspacing="0">
										<tr class="row2">
											<td>{post_review_row.attachment.DISPLAY_ATTACHMENT}</td>
										</tr>
									</table>
									<!-- END attachment -->
								<!-- ENDIF -->
								
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td>
						<table cellspacing="0">
							<tr valign="middle">
								<td width="100%"><!-- IF S_IS_BOT -->{post_review_row.MINI_POST_IMG}<!-- ELSE --><a href="{post_review_row.U_MINI_POST}">{post_review_row.MINI_POST_IMG}</a><!-- ENDIF --> <b>{L_POSTED}:</b> {post_review_row.POST_DATE}</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>

	<!-- IF not post_review_row.S_LAST_ROW -->
<hr />
<table cellspacing="0">
	<tr>
		<td class="spacer"></td>
	</tr>
</table>
	<!-- ELSE -->
<hr />
<br clear="all" />
	<!-- ENDIF -->

		<!-- END post_review_row -->
