<!-- INCLUDE overall_header.html -->

<script type="text/javascript">
// <![CDATA[
	/**
	* Change language
	*/
	function change_language(lang_iso)
	{
		document.forms['register'].change_lang.value = lang_iso;
		document.forms['register'].submit.click();
	}

// ]]>
</script>

<form name="register" method="post" action="{S_UCP_ACTION}">

<hr />
<br />

<hr />
<table cellspacing="0">
	<tr>
		<th valign="middle">{L_REGISTRATION}</th>
	</tr>
</table>

<!-- IF ERROR -->
<hr />
<table cellspacing="0">
	<tr class="row2">
		<td align="center"><span class="gensmall error">{ERROR}</span></td>
	</tr>
</table>
<!-- ENDIF -->

<!-- IF L_REG_COND -->
<hr />
<table cellspacing="0">
	<tr class="row2">
		<td><span class="gensmall">{L_REG_COND}</span></td>
	</tr>
</table>
<!-- ENDIF -->

<!-- IF .profile_fields -->
<hr />
<table cellspacing="0">
	<tr class="row2">
		<td><span class="gensmall">{L_ITEMS_REQUIRED}</span></td>
	</tr>
</table>
<!-- ENDIF -->

<hr />
<table cellspacing="0">
	<tr class="row1">
		<td><b class="genmed">{L_USERNAME}:</b><br />
			<input class="post" type="text" name="username" size="25" value="{USERNAME}" /><br/>
			<span class="gensmall">{L_USERNAME_EXPLAIN}</span></td>
	</tr>
</table>

<hr />
<table cellspacing="0">
	<tr class="row2">
		<td><b class="genmed">{L_EMAIL_ADDRESS}: </b><br/>
			<input class="post" type="text" name="email" size="25" maxlength="100" value="{EMAIL}" /></td>
	</tr>
	<tr class="row2">
		<td><b class="genmed">{L_CONFIRM_EMAIL}: </b><br/>
			<input class="post" type="text" name="email_confirm" size="25" maxlength="100" value="{EMAIL_CONFIRM}" /></td>
	</tr>
</table>

<hr />
<table cellspacing="0">
	<tr class="row1">
		<td><b class="genmed">{L_PASSWORD}: </b><br />
			<input class="post" type="password" name="new_password" size="25" value="{PASSWORD}" /><br/>
			<span class="gensmall">{L_PASSWORD_EXPLAIN}</span>
			</td>
	</tr>
	<tr class="row1">
		<td><b class="genmed">{L_CONFIRM_PASSWORD}: </b><br/>
			<input class="post" type="password" name="password_confirm" size="25" value="{PASSWORD_CONFIRM}" /></td>
	</tr>
</table>

<hr />
<table cellspacing="0">
	<tr class="row2">
		<td><b class="genmed">{L_LANGUAGE}: </b><br/>
			<select name="lang" onchange="change_language(this.value); return false;">{S_LANG_OPTIONS}</select></td>
	</tr>
	<tr class="row2">
		<td><b class="genmed">{L_TIMEZONE}: </b><br/>
			<select name="tz">{S_TZ_OPTIONS}</select></td>
	</tr>
</table>

<hr />
<table cellspacing="0">
<!-- BEGIN profile_fields -->
	<tr class="row1">
		<td>
			<b class="genmed">{profile_fields.LANG_NAME}: </b>
			<!-- IF profile_fields.S_REQUIRED --><b>*</b><!-- ENDIF -->
			{profile_fields.FIELD}<!-- IF profile_fields.ERROR --><br /><span class="gensmall error">{profile_fields.ERROR}</span><!-- ENDIF -->
			<!-- IF profile_fields.LANG_EXPLAIN --><br /><span class="gensmall">{profile_fields.LANG_EXPLAIN}</span><!-- ENDIF -->
		</td>
	</tr>
<!-- END profile_fields -->
</table>

<!-- IF S_CONFIRM_CODE -->
<hr />
<br />

<hr />
<table cellspacing="0">
	<tr>
		<th>{L_CONFIRMATION}</th>
	</tr>
</table>

<hr />
<table cellspacing="0">
	<tr class="row2">
		<td><span class="gensmall">{L_CONFIRM_EXPLAIN}</span></td>
	</tr>
</table>

<hr />
<table cellspacing="0">
	<tr class="row1">
		<td align="center">{CONFIRM_IMG}</td>
	</tr>
	<tr class="row1">
		<td><b class="genmed">{L_CONFIRM_CODE}: </b><br /><span class="gensmall">{L_CONFIRM_CODE_EXPLAIN} <!-- IF S_CONFIRM_REFRESH -->{L_VC_REFRESH_EXPLAIN}<!-- ENDIF --></span></td>
	</tr>
	<tr class="row1">
		<td><input class="post" type="text" name="confirm_code" size="8" maxlength="8" /><!-- IF S_CONFIRM_REFRESH -->&nbsp;<input type="submit" value="{L_VC_REFRESH}" class="btnlite" /><!-- ENDIF --></td>
	</tr>
</table>
<!-- ENDIF -->

<!-- IF S_COPPA -->
<hr />
<br />

<hr />
<table cellspacing="0">
	<tr>
		<th colspan="2" valign="middle">{L_COPPA_COMPLIANCE}</th>
	</tr>
</table>

<hr />
<table cellspacing="0">
	<tr class="row1">
		<td><span class="gensmall">{L_COPPA_EXPLAIN}</span></td>
	</tr>
</table>
<!-- ENDIF -->

<hr />
<table cellspacing="0">
	<tr class="cat">
		<td align="center">{S_HIDDEN_FIELDS}<input class="btnmain" type="submit" name="submit" id="submit" value="{L_SUBMIT}" />&nbsp;&nbsp;<input class="btnlite" type="reset" value="{L_RESET}" name="reset" /></td>
	</tr>
</table>
<hr />
{S_FORM_TOKEN}
</form>

<!-- INCLUDE overall_footer.html -->