<!-- INCLUDE ucp_header.html -->

<hr />
<br />

<hr />
<table cellspacing="0">
	<tr>
		<th>{L_UCP}</th>
	</tr>
</table>

<hr />
<table cellspacing="0">
	<tr>
		<td class="row1"><span class="genmed">{L_WATCHED_EXPLAIN}</span></td>
	</tr>
</table>

<!-- IF S_FORUM_NOTIFY -->

<hr />
<br />

<hr />
<table cellspacing="0">
	<tr>
		<th colspan="4">{L_WATCHED_FORUMS}</th>
	</tr>
</table>

	<!-- BEGIN forumrow -->
<hr />
<table cellspacing="0">
	<tr>
		<td class="row2"><p class="topictitle"><a href="{forumrow.U_VIEWFORUM}">{forumrow.FORUM_NAME}</a></p></td>
	</tr>
</table>

<hr />
<table cellspacing="0">
	<tr>
		<td class="row1 genmed">{L_SELECT} <input type="checkbox" class="radio" name="f[{forumrow.FORUM_ID}]" /> <!-- IF forumrow.LAST_POST_TIME --><br />{L_POST_BY_AUTHOR} {forumrow.LAST_POST_AUTHOR_FULL}<br /><a href="{forumrow.U_LAST_POST}">{forumrow.LAST_POST_TIME} {LAST_POST_IMG}</a><!-- ELSE -->{L_NO_POSTS}<!-- ENDIF --></td>
	</tr>
</table>

<!-- IF not forumrow.S_LAST_ROW -->
<hr />
<table cellspacing="0">
	<tr>
		<td class="spacer"></td>
	</tr>
</table>
<!-- ENDIF -->

	<!-- BEGINELSE -->
<hr />
<table cellspacing="0">
	<tr>
		<td class="row2" align="center"><b class="genmed">{L_NO_WATCHED_FORUMS}</b></td>
	</tr>
</table>
	<!-- END forumrow -->

<!-- ENDIF -->

<!-- IF S_TOPIC_NOTIFY -->
<hr />
<br />

<hr />
<table cellspacing="0">
	<tr>
		<th>{L_WATCHED_TOPICS}</th>
	</tr>
</table>

	<!-- IF TOTAL_TOPICS -->
<hr />
<table cellspacing="0">
	<tr>
		<td class="cat" align="center">{PAGE_NUMBER}<br />[ {TOTAL_TOPICS} ]<br /><!-- INCLUDE pagination.html --></td>
	</tr>
</table>
	<!-- ENDIF -->

	<!-- BEGIN topicrow -->

<hr />
<table cellspacing="0">
		<tr>
			<td class="row2"><p class="topictitle"><!-- IF topicrow.S_UNREAD_TOPIC --><a href="{topicrow.U_NEWEST_POST}">{NEWEST_POST_IMG}</a> <!-- ENDIF --><a href="{topicrow.U_VIEW_TOPIC}">{topicrow.TOPIC_TITLE}</a></p></td>
	</tr>
</table>

<hr />
<table cellspacing="0">
	<tr>
		<td class="row1">
			{L_SELECT} <input type="checkbox" class="radio" name="t[{topicrow.TOPIC_ID}]" /><br />
			<!-- IF topicrow.S_GLOBAL_TOPIC --><span class="genmed">{L_GLOBAL_ANNOUNCEMENT}</span><!-- ELSE --><span class="genmed"><b>{L_FORUM}: </b><a href="{topicrow.U_VIEW_FORUM}">{topicrow.FORUM_NAME}</a></span><!-- ENDIF -->
			<!-- IF topicrow.PAGINATION -->
				<p class="genmed"> [ {GOTO_PAGE_IMG}{L_GOTO_PAGE}: {topicrow.PAGINATION} ] </p>
			<!-- ENDIF -->
			<p class="topicdetails">{topicrow.LAST_POST_TIME}</p>
			<p class="topicdetails">{topicrow.LAST_POST_AUTHOR_FULL}
				<a href="{topicrow.U_LAST_POST}">{LAST_POST_IMG}</a>
			</p>
		</td>
	</tr>
</table>

<!-- IF not topicrow.S_LAST_ROW -->
<hr />
<table cellspacing="0">
	<tr>
		<td class="spacer"></td>
	</tr>
</table>
<!-- ENDIF -->

	<!-- BEGINELSE -->
<hr />
<table cellspacing="0">
	<tr>
		<td class="row2" align="center"><b class="genmed">{L_NO_WATCHED_TOPICS}</b></td>
	</tr>
</table>
	<!-- END topicrow -->
<!-- ENDIF -->

<!-- IF .topicrow or .forumrow -->
<hr />
<table cellspacing="0">
	<tr>
		<td><div class="gensmall" style="float: {S_CONTENT_FLOW_END}; padding-top: 2px;"><b><a href="#" onclick="marklist('ucp', 't', true); marklist('ucp', 'f', true); return false;">{L_MARK_ALL}</a> :: <a href="#" onclick="marklist('ucp', 't', false);marklist('ucp', 'f', false); return false;">{L_UNMARK_ALL}</a></b></div><input class="btnlite" type="submit" name="unwatch" value="{L_UNWATCH_MARKED}" /></td>
	</tr>
</table>
<!-- ENDIF -->

<!-- INCLUDE ucp_footer.html -->