<!-- INCLUDE ucp_header.html -->

<hr />
<br />

<hr />
<table cellspacing="0">
	<tr>
		<th>{L_UCP}</th>
	</tr>
</table>

<hr />
<table cellspacing="0">
	<tr>
		<td class="row1"><span class="genmed">{L_DRAFTS_EXPLAIN}</span></td>
	</tr>
</table>

<!-- IF ERROR -->
<hr />
<table cellspacing="0">
	<tr>
		<td class="cat" align="center"><span class="genmed error">{ERROR}</span></td>
	</tr>
</table>
<!-- ENDIF -->

<!-- IF not S_EDIT_DRAFT -->
	<!-- IF S_DRAFT_ROWS -->
		<th>{L_SAVE_DATE}</th>
		<th>{L_DRAFT_TITLE}</th>
		<th>{L_OPTIONS}</th>
		<th>{L_DELETE}</th>
	<!-- ENDIF -->

	<!-- BEGIN draftrow -->

<hr />
<table cellspacing="0">
	<tr>
		<td class="row2"><p class="topictitle">{draftrow.DRAFT_SUBJECT}</p></td>
	</tr>
</table>

<hr />
<table cellspacing="0">
		<td class="row1">
			<p class="postdetails">{draftrow.DATE}</p>
			<!-- IF draftrow.S_LINK_TOPIC --><span class="gensmall">{L_TOPIC}: <a href="{draftrow.U_VIEW}">{draftrow.TITLE}</a></span>
			<!-- ELSEIF draftrow.S_LINK_FORUM --><span class="gensmall">{L_FORUM}: <a href="{draftrow.U_VIEW}">{draftrow.TITLE}</a></span>
			<!-- ELSEIF draftrow.S_LINK_PM --><span class="gensmall">{L_PRIVATE_MESSAGE}</span>
			<!-- ELSE --><span class="gensmall">{L_NO_TOPIC_FORUM}</span><!-- ENDIF -->
		</td>
	</tr>
</table>

<hr />
<table cellspacing="0">
		<td class="cat"><span class="genmed"><!-- IF draftrow.U_INSERT --><a href="{draftrow.U_INSERT}">{L_LOAD_DRAFT}</a>&nbsp;<!-- ENDIF --><a href="{draftrow.U_VIEW_EDIT}">{L_VIEW_EDIT}</a></span>&nbsp;<input type="checkbox" class="radio" name="d[{draftrow.DRAFT_ID}]" /></td>
	</tr>
</table>

<!-- IF not draftrow.S_LAST_ROW -->
<hr />
<table cellspacing="0">
	<tr>
		<td class="spacer"></td>
	</tr>
</table>
<!-- ENDIF -->

	<!-- BEGINELSE -->
<hr />
<table cellspacing="0">
	<tr>
		<td class="row2" align="center"><b class="genmed">{L_NO_SAVED_DRAFTS}</b></td>
	</tr>
</table>

	<!-- END draftrow -->

	<!-- IF S_DRAFT_ROWS -->
<hr />
<table cellspacing="0">
		<tr>
			<td class="cat" align="{S_CONTENT_FLOW_END}"><input class="btnlite" type="submit" name="delete" value="{L_DELETE_MARKED}" />&nbsp;</td>
		</tr>
</table>
	<!-- ENDIF -->

<!-- ELSEIF S_EDIT_DRAFT -->
<hr />
<table cellspacing="0">
	<tr>
		<td class="row2"><b class="genmed">{L_SUBJECT}:</b><br/>
		<input class="post" style="width:450px" type="text" name="subject" size="45" maxlength="64" tabindex="2" value="{DRAFT_SUBJECT}" /></td>
	</tr>
</table>

<hr />
<table cellspacing="0">
	<tr> 
		<td class="row1"><b class="genmed">{L_MESSAGE}: </b><br /><span class="gensmall">{L_EDIT_DRAFT_EXPLAIN}</span></td>
		<td class="row1">
			<script type="text/javascript">
			// <![CDATA[
				var form_name = 'ucp';
				var text_name = 'message';
			// ]]>
			</script>
			<table cellspacing="0" cellpadding="2" border="0">
			<!-- INCLUDE posting_buttons.html -->
			<tr>
				<td colspan="9"><textarea class="post" name="message" rows="10" cols="70" onselect="storeCaret(this);" onclick="storeCaret(this);" onkeyup="storeCaret(this);">{DRAFT_MESSAGE}</textarea></td>
			</tr>
			</table>
		</td>
	</tr>
	<tr class="row1">
		<td align="{S_CONTENT_FLOW_BEGIN}"><p class="topictitle"><a href="{S_UCP_ACTION}">{L_BACK_TO_DRAFTS}</a></p></td>
	</tr>
</table>

<hr />
<table cellspacing="0">
	<tr>
		<td class="cat" align="center">{S_HIDDEN_FIELDS}<input class="btnmain" type="submit" name="submit" value="{L_SUBMIT}" />&nbsp;&nbsp;<input class="btnlite" type="reset" value="{L_RESET}" name="reset" /></td>
	</tr>
</table>
<!-- ENDIF -->

<hr />
<br />

<!-- INCLUDE ucp_footer.html -->