<!-- INCLUDE overall_header.html -->

<hr />

<p class="gensmall" align="center">{TOTAL_REGISTERED_USERS_ONLINE}</p>
<p class="gensmall" align="center">{TOTAL_GUEST_USERS_ONLINE}<!-- IF S_SWITCH_GUEST_DISPLAY --><br />[ <a href="{U_SWITCH_GUEST_DISPLAY}">{L_SWITCH_GUEST_DISPLAY}</a> ]<!-- ENDIF --></p>

<hr />
<table cellspacing="0">
	<tr>
		<th><!-- IF U_VIEWONLINE --><h4><a href="{U_VIEWONLINE}">{L_WHO_IS_ONLINE}</a></h4><!-- ELSE --><h4>{L_WHO_IS_ONLINE}</h4><!-- ENDIF --></th>
	</tr>
</table>

<!-- BEGIN user_row -->
<hr />
<table cellspacing="0">
	<tr>
		<td class="row1" align="center"><span class="gen">{user_row.USERNAME_FULL} <!-- IF user_row.USER_IP --><br /><span class="gensmall">{L_IP}: <a href="{user_row.U_USER_IP}">{user_row.USER_IP}</a> &#187; <a href="{user_row.U_WHOIS}" onclick="popup(this.href, 750, 500); return false;">{L_WHOIS}</a><!-- ENDIF --></span><br />
		<span class="gensmall"><a class="cat" style="border: 1px solid #407381;" href="{user_row.U_FORUM_LOCATION}">&nbsp;{user_row.FORUM_LOCATION}&nbsp;</a><br />
		{user_row.LASTUPDATE}
			<!-- IF user_row.USER_BROWSER --><br />{user_row.USER_BROWSER}<!-- ENDIF --></span></td>
	</tr>
</table>
	<!-- IF not user_row.S_LAST_ROW -->
<hr />
<table cellspacing="0">
	<tr>
		<td class="spacer"></td>
	</tr>
</table>
	<!-- ENDIF -->
<!-- END user_row -->

<!-- IF LEGEND -->
<hr />
<table cellspacing="0">
	<tr>
		<td class="row2" align="center"><b class="gensmall">{LEGEND}</b></td>
	</tr>
</table>
<!-- ENDIF -->

<!-- IF PAGINATION -->
<hr />
<table cellspacing="0">
	<tr>
		<td class="nav" valign="middle" nowrap="nowrap">&nbsp;{PAGE_NUMBER}<br />
		<div class="gensmall" width="100%" align="center" nowrap="nowrap"><b><a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{L_GOTO_PAGE}</a> <!-- IF PREVIOUS_PAGE --><a href="{PREVIOUS_PAGE}">{L_PREVIOUS}</a>&nbsp;&nbsp;<!-- ENDIF -->{PAGINATION}<!-- IF NEXT_PAGE -->&nbsp;&nbsp;<a href="{NEXT_PAGE}">{L_NEXT}</a><!-- ENDIF --></b></div>
	</tr>
</table>
<!-- ELSE -->
<hr />
<!-- ENDIF -->

<div class="gensmall" align="{S_CONTENT_FLOW_END}">{L_ONLINE_EXPLAIN}</div>

<br clear="all" />

<!-- INCLUDE breadcrumbs.html -->

<hr />
<br clear="all" />

<div align="center"><!-- INCLUDE jumpbox.html --></div>

<!-- INCLUDE overall_footer.html -->