NET "FT_JTAG_BUF"    LOC =  "P8";
NET "FT_TDO"         LOC =  "P13";
NET "FT_TCK"         LOC =  "P16";
NET "FT_TDI"         LOC =  "P14";
NET "FT_TMS"         LOC =  "P12";
NET "FT_nSRST_BUF"   LOC =  "P43";
NET "FT_nSRST_OUT"   LOC =  "P1";
NET "FT_nSRST_IN"    LOC =  "P5";
NET "FT_nTRST_BUF"   LOC =  "P44";
NET "FT_nTRST"       LOC =  "P2";
NET "FT_RTCK"        LOC =  "P3";
NET "FT_DBGRQ"       LOC =  "P42";
NET "FT_DBGACK"      LOC =  "P41";
NET "FT_TARGET_PRESENT" LOC =  "P6";
NET "ACBUS6"      	LOC =  "P40";
NET "ACBUS7"      	LOC =  "P39";
NET "RTCK"           LOC =  "P33";
NET "TDO"            LOC =  "P32";
NET "TCK"            LOC =  "P34";
NET "TDI"            LOC =  "P37";
NET "TMS"            LOC =  "P36";
NET "nSRST"          LOC =  "P31";
NET "nTRST"          LOC =  "P38";
NET "DBGRQ"          LOC =  "P30";
NET "DBGACK"         LOC =  "P29";
NET "TARGET_PRESENT" LOC =  "P18";