NET "FT_DBGRQ"       LOC =  "P23";
NET "FT_JTAG_BUF"    LOC =  "P34";
NET "FT_TCK"         LOC =  "P22";
NET "FT_TDI"         LOC =  "P21";
NET "FT_TMS"         LOC =  "P20";
NET "FT_nSRST_BUF"   LOC =  "P33";
NET "FT_nSRST_OUT"   LOC =  "P19";
NET "FT_nTRST"       LOC =  "P39";
NET "RTCK"           LOC =  "P40";
NET "TDO"            LOC =  "P41";
NET "DBGRQ"          LOC =  "P38";
NET "FT_RTCK"        LOC =  "P30";
NET "FT_TDO"         LOC =  "P29";
NET "FT_nSRST_IN"    LOC =  "P28";
NET "TCK"            LOC =  "P37";
NET "TDI"            LOC =  "P36";
NET "TMS"            LOC =  "P32";
NET "nSRST"          LOC =  "P31";
NET "nTRST"          LOC =  "P27";